<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="adminMapper">
	
	<select id="selectMemberList" resultMap="memberMapper.member">
		SELECT MEMBER_ID
			, MEMBER_PW
			, MEMBER_NAME
			, MEMBER_NICKNAME
			, MEMBER_TELL
			, MEMBER_ADDR
			, ADDR_DETAIL
			, MEMBER_EMAIL
			, MEMBER_ROLE
			, MEMBER_STATUS
			, TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
		FROM SHOP_MEMBER
		<if test="searchValue != null and !searchValue.equals('')">
			WHERE UPPER(${searchType}) LIKE '%'||UPPER(#{searchValue})||'%'			
		</if>
		ORDER BY MEMBER_ROLE, REG_DATE
	</select>
	
	<select id="selectMemberDetail" resultMap="memberMapper.member">
		SELECT MEMBER_ID
			, MEMBER_PW
			, MEMBER_NAME
			, MEMBER_NICKNAME
			, MEMBER_ADDR
			, MEMBER_TELL
			, ADDR_DETAIL
			, MEMBER_EMAIL
			, DECODE(MEMBER_ROLE, 'MEMBER', '회원', '관리자') AS MEMBER_ROLE
			, DECODE(MEMBER_STATUS, 'ACTIVE', '활동중', '탈퇴') AS MEMBER_STATUS
			, TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
		FROM SHOP_MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="getMemberList" resultMap="memberMapper.member">
		SELECT MEMBER_ID
			, MEMBER_PW
			, MEMBER_NAME
			, MEMBER_NICKNAME
			, MEMBER_TELL
			, MEMBER_ADDR
			, ADDR_DETAIL
			, MEMBER_EMAIL
			, MEMBER_ROLE
			, MEMBER_STATUS
			, TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
		FROM SHOP_MEMBER
		<if test="_parameter != 'ALL'">
		WHERE MEMBER_STATUS = #{memberStatus}
		</if>
		ORDER BY MEMBER_ROLE, REG_DATE
	</select>	
	
	<update id="updateMemberStatus">
		UPDATE SHOP_MEMBER
		SET MEMBER_STATUS = #{memberStatus}
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	
</mapper>











































