<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">
	<resultMap type="kh.study.team2.shop.board.vo.BoardVO" id="board">
		<id column="BOARD_NUM" 				property="boardNum"/>
		<result column="ITEM_CODE" 			property="itemCode"/>
		<result column="BOARD_TITLE" 		property="boardTitle"/>
		<result column="BOARD_CONTENT" 		property="boardContent"/>
		<result column="MEMBER_ID" 			property="memberId"/>
		<result column="REG_DATE" 			property="regDate"/>
		<result column="STAR_POINT" 		property="starPoint"/>
		<result column="IS_WRITTEN" 		property="isWritten"/>
		<association property="itemVO" 		resultMap="itemMapper.item"/>
		<association property="reviewImgVO" resultMap="reviewImg"/>
		<association property="replyVO" 	resultMap="reply"/>
	</resultMap>
	
	<resultMap type="kh.study.team2.shop.board.vo.ReviewImgVO" id="reviewImg">
		<id column="REVIEW_IMG_CODE" 	property="reviewImgCode"/>
		<result column="ORIGIN_NAME" 	property="originName"/>
		<result column="SAVED_NAME" 	property="savedName"/>
		<result column="ITEM_CODE" 		property="itemCode"/>
	</resultMap>
	
	<resultMap type="kh.study.team2.shop.board.vo.ReplyVO" id="reply">
		<id column="REPLY_NUM" 			property="replyNum"/>
		<result column="REPLY_CONTENT" 	property="replyContent"/>
		<result column="MEMBER_ID" 		property="memberId"/>
		<result column="REPLY_REG_DATE" property="replyRegDate"/>
		<result column="BOARD_NUM" 		property="boardNum"/>
		<result column="ITEM_CODE" 		property="itemCode"/>
	</resultMap>
	
	<!-- 리뷰 작성 -->
	<insert id="insertReview">
		INSERT INTO REVIEW_BOARD (
			BOARD_NUM
			, ITEM_CODE
			, BOARD_TITLE
			, BOARD_CONTENT
			, MEMBER_ID
			, STAR_POINT
		) VALUES (
			(SELECT NVL(MAX(BOARD_NUM), 0) + 1 FROM REVIEW_BOARD)
			, #{itemCode}
			, #{boardTitle}
			, #{boardContent}
			, #{memberId}
			, #{starPoint}
		)
	</insert>
	
	<!-- 리뷰 작성 시 이미지 삽입 -->
	<insert id="insertReviewImg">
		<selectKey resultType="String" keyProperty="reviewImgVO.reviewImgCode" order="BEFORE">
			SELECT 'REVIEW_IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(REVIEW_IMG_CODE, 12))), 0) + 1 , 3, 0)
			FROM REVIEW_IMG
		</selectKey>
		INSERT INTO REVIEW_IMG (
			REVIEW_IMG_CODE
			, ORIGIN_NAME
			, SAVED_NAME
			, ITEM_CODE
		) VALUES (
			#{reviewImgVO.reviewImgCode}
			, #{reviewImgVO.originName}
			, #{reviewImgVO.savedName}
			, #{itemCode}
		)
	</insert>
	
	<!-- 리뷰 작성 목록 조회 -->
	<select id="selectBoardList" resultMap="board">
		SELECT BOARD_NUM
			, ITEM_CODE
			, (SELECT ITEM_NAME
				FROM SHOP_ITEM
				WHERE ITEM_CODE = R.ITEM_CODE) AS ITEM_NAME
			, BOARD_TITLE
			, BOARD_CONTENT
			, MEMBER_ID
			, TO_CHAR(R.REG_DATE, 'YYYY-MM-DD') AS REG_DATE
			, STAR_POINT
		FROM REVIEW_BOARD R
		WHERE MEMBER_ID = #{memberId}
		ORDER BY BOARD_NUM DESC
	</select>
	
	<!-- 리뷰 상세 보기 --> 
 	<select id="selectBoardDetail" resultMap="board">
		SELECT BOARD_NUM
			, R.ITEM_CODE
			, (SELECT ITEM_NAME
				FROM SHOP_ITEM
				WHERE ITEM_CODE = R.ITEM_CODE) AS ITEM_NAME
			, BOARD_TITLE
			, BOARD_CONTENT
			, R.MEMBER_ID
			, TO_CHAR(R.REG_DATE, 'YYYY-MM-DD') AS REG_DATE
			, STAR_POINT
			, REVIEW_IMG_CODE
			, SAVED_NAME
			, (SELECT ATTACHED_NAME
				FROM ITEM_IMG
				WHERE ITEM_CODE = R.ITEM_CODE
				AND IS_MAIN = 'Y') AS ATTACHED_NAME
		FROM REVIEW_BOARD R, REVIEW_IMG I, ITEM_IMG M
		WHERE R.ITEM_CODE = #{itemCode}
		AND R.ITEM_CODE = I.ITEM_CODE(+)
		AND R.ITEM_CODE = M.ITEM_CODE
	</select>
	
	
	<!-- 내가 작성한 리뷰 보기 --> <!-- 남이 판매한 상품에 내가 작성한 리뷰 -->
	<select id="selectWrittenReviewList" resultMap="board">
		SELECT BOARD_NUM
			, ITEM_CODE
			, (SELECT ITEM_NAME
				FROM SHOP_ITEM
				WHERE ITEM_CODE = R.ITEM_CODE) AS ITEM_NAME
			, BOARD_TITLE
			, BOARD_CONTENT
			, MEMBER_ID
			, TO_CHAR(R.REG_DATE, 'YYYY-MM-DD') AS REG_DATE
			, STAR_POINT
		FROM REVIEW_BOARD R
		WHERE MEMBER_ID = #{memberId}
		ORDER BY BOARD_NUM DESC		
	</select>
	
	<!-- 리뷰 삭제 -->
	<delete id="deleteReview">
		DELETE REVIEW_BOARD
		WHERE ITEM_CODE = #{itemCode}
	</delete>
	
	<!-- 리뷰 댓글 삭제 -->
	<delete id="deleteReviewReply">
		DELETE REVIEW_REPLY
		WHERE ITEM_CODE = #{itemCode}
	</delete>
	
	<!-- 리뷰 수정 쿼리 -->
	
	
	<!-- 리뷰 댓글 작성 -->
	<insert id="insertReviewReply">
		INSERT INTO REVIEW_REPLY (
			REPLY_NUM
			, REPLY_CONTENT
			, MEMBER_ID
			, BOARD_NUM
			, ITEM_CODE
		) VALUES (
			(SELECT NVL(MAX(REPLY_NUM), 0) + 1 FROM REVIEW_REPLY)
			, #{replyContent}
			, #{memberId}
			, (SELECT BOARD_NUM
				FROM REVIEW_BOARD
				WHERE ITEM_CODE = #{itemCode})
			, #{itemCode}
		)
	</insert>
	
	<!-- 리뷰 댓글 조회 -->
	<select id="selectReviewReply" resultMap="reply">
		SELECT REPLY_NUM
			, REPLY_CONTENT
			, MEMBER_ID
			, BOARD_NUM
			, ITEM_CODE
			, TO_CHAR(REPLY_REG_DATE, 'YYYY-MM-DD HH24:MI') AS REPLY_REG_DATE
		FROM REVIEW_REPLY
		WHERE BOARD_NUM = #{boardNum}
		ORDER BY REPLY_NUM DESC 
	</select>
	
	
</mapper>