<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">
	<resultMap type="kh.study.team2.shop.board.vo.BoardVO" id="board">
		<id column="BOARD_NUM" 				property="boardNum"/>
		<result column="ITEM_CODE" 			property="itemCode"/>
		<result column="BOARD_TITLE" 		property="boardTitle"/>
		<result column="BOARD_CONTENT" 		property="boardContent"/>
		<result column="MEMBER_ID" 			property="memberId"/>
		<result column="REG_DATE" 			property="regDate"/>
		<result column="STAR_POINT" 		property="starPoint"/>
		<association property="itemVO" 		resultMap="itemMapper.item"/>
		<association property="reviewImgVO" resultMap="reviewImg"/>
	</resultMap>
	
	<resultMap type="kh.study.team2.shop.board.vo.ReviewImgVO" id="reviewImg">
		<id column="REVIEW_IMG_CODE" 	property="reviewImgCode"/>
		<result column="ORIGIN_NAME" 	property="originName"/>
		<result column="ATTACHED_NAME" 	property="attachedName"/>
		<result column="ITEM_CODE" 		property="itemCode"/>
	</resultMap>

	<insert id="insertReview">
		INSERT INTO REVIEW_BOARD (
			BOARD_NUM
			, ITEM_CODE
			, BOARD_TITLE
			, BOARD_CONTENT
			, MEMBER_ID
			, STAR_POINT
		) VALUES (
			(SELECT NVL(MAX(BOARD_NUM), 0) + 1 FROM REVIEW_BOARD)
			, #{itemCode}
			, #{boardTitle}
			, #{boardContent}
			, #{memberId}
			, #{starPoint}
		)
	</insert>
	
	<insert id="insertReviewImg">
		<selectKey resultType="String" keyProperty="reviewImgVO.reviewImgCode" order="BEFORE">
			SELECT 'REVIEW_IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(REVIEW_IMG_CODE, 12))), 0) + 1 , 3, 0)
			FROM REVIEW_IMG
		</selectKey>
		INSERT INTO REVIEW_IMG (
			REVIEW_IMG_CODE
			, ORIGIN_NAME
			, ATTACHED_NAME
			, ITEM_CODE
		) VALUES (
			#{reviewImgVO.reviewImgCode}
			, #{reviewImgVO.originName}
			, #{reviewImgVO.attachedName}
			, #{itemCode}
		)
	</insert>
	
	<select id="selectBoardList" resultMap="board">
		SELECT BOARD_NUM
			, ITEM_CODE
			, (SELECT ITEM_NAME
				FROM SHOP_ITEM
				WHERE ITEM_CODE = R.ITEM_CODE) AS ITEM_NAME
			, BOARD_TITLE
			, BOARD_CONTENT
			, MEMBER_ID
			, TO_CHAR(R.REG_DATE, 'YYYY-MM-DD') AS REG_DATE
			, STAR_POINT
		FROM REVIEW_BOARD R
		WHERE MEMBER_ID = #{memberId}
		ORDER BY BOARD_NUM DESC
	</select>
	
	<select id="selectBoardDetail" resultMap="board">
		SELECT BOARD_NUM
			, ITEM_CODE
			, (SELECT ITEM_NAME
				FROM SHOP_ITEM
				WHERE ITEM_CODE = R.ITEM_CODE) AS ITEM_NAME
			, BOARD_TITLE
			, BOARD_CONTENT
			, MEMBER_ID
			, TO_CHAR(R.REG_DATE, 'YYYY-MM-DD') AS REG_DATE
			, STAR_POINT
		FROM REVIEW_BOARD R
		WHERE ITEM_CODE = #{itemCode}
	</select>
	
</mapper>