<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="buyMapper">
	<resultMap type="kh.study.team2.shop.buy.vo.BuyVO" id="buy">
		<id column="BUY_CODE" 			property="buyCode"/>
		<result column="BUYER"	 		property="buyer"/>
		<result column="SELLER"	 		property="seller"/>
		<result column="BUY_DATE" 		property="buyDate"/>
		<result column="ITEM_CODE"		property="itemCode"/>
		<result column="IS_CONFIRMED"	property="isConfirmed"/>
		<association property="itemVO" 	resultMap="itemMapper.item"/>
		<association property="boardVO" resultMap="boardMapper.board"/>
		<collection property="imgList" 	resultMap="itemMapper.img"/>
	</resultMap>

	<!-- 구매  -->
	<insert id="buyItem">
		INSERT INTO SHOP_BUY(
			BUY_CODE
			, SELLER
			, BUYER
			, ITEM_CODE
		) VALUES(
			#{buyCode}
			, #{seller}
			, #{buyer}
			, #{itemCode}
		)
	</insert>
	
	<!--상품 구매 시 -> 판매상태 변경-->
	<update id="itemSalesStatus">
		UPDATE SHOP_ITEM
		SET SALES_STATUS = 'SOLD_OUT'
		WHERE ITEM_CODE = #{itemCode}
	</update>
	
	<!-- 다음에 들어갈 구매코드 조회 -->
	<select id="selectNextBuyCode" resultType="String">
		SELECT 'ORD'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(BUY_CODE, 5))), 0) +1, 3, 0) 
		FROM SHOP_BUY
	</select>
	
	<update id="memberInfoUpdate">
		UPDATE SHOP_MEMBER SET
			TOTAL_SALES=TOTAL_SALES+#{itemPrice}
			,SALES_CNT=SALES_CNT+1
		WHERE MEMBER_ID=#{memberId}
	</update>
	
	
	
	
	
	<!-- 구매 내역 조회 -->
	<select id="selectBuyList" resultMap="buy">
		SELECT ROW_NUM
			, BUY_CODE
			, BUYER
			, SELLER
			, BUY_DATE
			, ITEM_CODE
			, ITEM_NAME
			, ITEM_PRICE
			, ATTACHED_NAME
			, IS_CONFIRMED
			, IS_WRITTEN
		FROM (
			SELECT  ROWNUM ROW_NUM
				, BUY_CODE
				, BUYER
				, SELLER
				, BUY_DATE
				, ITEM_CODE
				, ITEM_NAME
				, ITEM_PRICE
				, ATTACHED_NAME
				, IS_CONFIRMED
				, IS_WRITTEN
			FROM (
				SELECT BUY_CODE
					, BUYER
					, SELLER
					, BUY_DATE
					, S.ITEM_CODE
					, (SELECT ITEM_NAME
						FROM SHOP_ITEM
						WHERE ITEM_CODE = S.ITEM_CODE) AS ITEM_NAME
					, (SELECT ITEM_PRICE
						FROM SHOP_ITEM
						WHERE ITEM_CODE = S.ITEM_CODE) AS ITEM_PRICE
					, ATTACHED_NAME
					, IS_CONFIRMED
					, (SELECT IS_WRITTEN
						FROM SHOP_ITEM
						WHERE ITEM_CODE = S.ITEM_CODE) AS IS_WRITTEN
				    FROM SHOP_BUY S, ITEM_IMG I
					WHERE BUYER = #{buyer}
					AND S.ITEM_CODE = I.ITEM_CODE
					AND IS_MAIN = 'Y'
					ORDER BY BUY_DATE DESC
				)
			)
		WHERE ROW_NUM &gt;= #{startNum} AND ROW_NUM &lt;= #{endNum}
	</select>
	
	<!-- 구매 확정 시 구매 확정 여부 변경 -->
	<update id="updateBuyConfirm">
		UPDATE SHOP_BUY
		SET IS_CONFIRMED = 'Y'
		WHERE ITEM_CODE = #{itemCode}
	</update>
	
	<!-- 판매 내역 조회 -->
	<select id="selectSalesList" resultMap="buy">
		SELECT ROW_NUM
			, BUY_CODE
			, BUYER
			, SELLER
			, BUY_DATE
			, ITEM_CODE
			, ITEM_NAME
			, ITEM_PRICE
			, ATTACHED_NAME
			, IS_CONFIRMED
			, SALES_STATUS
		FROM (
			SELECT  ROWNUM ROW_NUM
				, BUY_CODE
				, BUYER
				, SELLER
				, BUY_DATE
				, ITEM_CODE
				, ITEM_NAME
				, ITEM_PRICE
				, ATTACHED_NAME
				, IS_CONFIRMED
				, SALES_STATUS
			FROM (
				SELECT BUY_CODE
					, BUYER
					, SELLER
					, BUY_DATE
					, B.ITEM_CODE
					, (SELECT ITEM_NAME
						FROM SHOP_ITEM
						WHERE ITEM_CODE = B.ITEM_CODE) AS ITEM_NAME
					, (SELECT ITEM_PRICE
						FROM SHOP_ITEM
						WHERE ITEM_CODE = B.ITEM_CODE) AS ITEM_PRICE
					, ATTACHED_NAME
					, IS_CONFIRMED
					, (SELECT SALES_STATUS
						FROM SHOP_ITEM
						WHERE ITEM_CODE = B.ITEM_CODE) AS SALES_STATUS
				    FROM SHOP_BUY B, ITEM_IMG I, SHOP_ITEM S
				   	WHERE SELLER = #{seller}
					AND B.ITEM_CODE = I.ITEM_CODE
					AND B.ITEM_CODE = S.ITEM_CODE
					AND IS_MAIN = 'Y'
					AND SALES_STATUS = 'SOLD_OUT'
					ORDER BY BUY_DATE DESC
				)
			)
		WHERE ROW_NUM &gt;= #{startNum} AND ROW_NUM &lt;= #{endNum}
	</select>

	<!-- 판매 내역 총 개수 조회 -->
	<select id="selectSalesCnt" resultType="int">
		SELECT COUNT(ITEM_CODE)
		FROM SHOP_BUY
		WHERE SELLER = #{seller}
	</select>
	
	<!-- 구매 내역 총 개수 조회 -->
	<select id="selectBuyCnt" resultType="int">
		SELECT COUNT(ITEM_CODE)
		FROM SHOP_BUY
		WHERE BUYER = #{buyer}
	</select>

</mapper>











































