<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="buyMapper">
	<resultMap type="kh.study.team2.shop.buy.vo.BuyVO" id="buy">
		<id column="BUY_CODE" 			property="buyCode"/>
		<result column="MEMBER_ID"	 	property="memberId"/>
		<result column="BUY_DATE" 		property="buyDate"/>
		<result column="ITEM_CODE"		property="itemCode"/>
		<result column="IS_CONFIRMED"	property="isConfirmed"/>
		<association property="itemVO" 	resultMap="itemMapper.item"/>
		<collection property="imgList" 	resultMap="itemMapper.img"/>
	</resultMap>

	<!-- 구매  -->
	<insert id="buyItem">
		INSERT INTO SHOP_BUY(
			BUY_CODE
			, MEMBER_ID
			, ITEM_CODE
		) VALUES(
			#{buyCode}
			, #{memberId}
			, #{itemCode}
		)
	</insert>
	
	<!-- 다음에 들어갈 구매코드 조회 -->
	<select id="selectNextBuyCode" resultType="String">
		SELECT 'ORD'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(BUY_CODE, 5))), 0) +1, 3, 0) 
		FROM SHOP_BUY
	</select>
	
	
	<!-- 구매 내역 조회 -->
	<select id="selectBuyList" resultMap="buy">
		SELECT BUY_CODE
			, MEMBER_ID
			, BUY_DATE
			, S.ITEM_CODE
			, (SELECT ITEM_NAME
				FROM SHOP_ITEM
				WHERE ITEM_CODE = S.ITEM_CODE) AS ITEM_NAME
			, (SELECT ITEM_PRICE
				FROM SHOP_ITEM
				WHERE ITEM_CODE = S.ITEM_CODE) AS ITEM_PRICE
			, ATTACHED_NAME
			, IS_CONFIRMED
		FROM SHOP_BUY S, ITEM_IMG I
		WHERE MEMBER_ID = #{memberId}
		AND S.ITEM_CODE = I.ITEM_CODE
		AND IS_MAIN = 'Y'
	</select>
	
	



</mapper>











































