<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="cateMapper">
	<resultMap type="kh.study.team2.shop.cate.vo.main.MainCateVO" id="mainCate">
		<id column="MAIN_CATE_CODE" property="mainCateCode"/>
		<result column="MAIN_CATE_NAME" property="mainCateName"/>
		<result column="CATE_STATUS" property="cateStatus"/>
	</resultMap>
	<resultMap type="kh.study.team2.shop.cate.vo.sub.SubCateVO" id="subCate">
		<id column="SUB_CATE_CODE" property="subCateCode"/>
		<result column="SUB_CATE_NAME" property="subCateName"/>
		<result column="MAIN_CATE_CODE" property="mainCateCode"/>
	</resultMap>
	<resultMap type="kh.study.team2.shop.cate.vo.detail.DetailCateVO" id="detailCate">
		<id column="DEATIL_CATE_CODE" property="detailCateCode"/>
		<result column="DETAIL_CATE_NAME" property="detailCateName"/>
		<result column="SUB_CATE_CODE" property="subCateCode"/>
	</resultMap>
	
	<select id="mainCateList" resultMap="mainCate">
		SELECT MAIN_CATE_CODE
			,MAIN_CATE_NAME
		FROM MAIN_CATE
		WHERE CATE_STATUS='USE'
		ORDER BY MAIN_CATE_CODE
	</select>
	
	<select id="subCateList" resultMap="subCate">
		SELECT SUB_CATE_CODE
			,SUB_CATE_NAME
			,MAIN_CATE_CODE
		FROM SUB_CATE
		ORDER BY SUB_CATE_CODE
	</select>
	
	<select id="detailCateList" resultMap="detailCate">
		SELECT DETAIL_CATE_CODE
			,DETAIL_CATE_NAME
			,SUB_CATE_CODE
		FROM DETAIL_CATE
		ORDER BY DETAIL_CATE_CODE
	</select>
	
</mapper>











































