<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
	<!-- <resultMap type="kh.study.team2.shop.member.vo.MemberVO" id="member">
	
	</resultMap> -->
	
	<select id="getNextItemCode" resultType="String">
		SELECT 'ITEM_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ITEM_CODE, 6))), 0) +1, 3, 0) 
		FROM SHOP_ITEM
	</select>
	
	<insert id="insertItem">
		INSERT INTO SHOP_ITEM (
			  ITEM_CODE
			  , ITEM_NAME
			  , ITEM_PRICE
			  , ITEM_STOCK
			  , ITEM_COMMENT
			  , ITEM_STATUS
			  , TRADE_TYPE
		  ) VALUES (
		  	  #{itemCode}	
		      , #{itemName}
		      , #{itemPrice}
		      , #{itemStock}
		      , #{itemComment}
		      , #{itemStatus}
		      , #{tradeType}
		)
	</insert>
	
	<insert id="insertImgs">
		INSERT INTO ITEM_IMG (
				IMG_CODE
				, ORIGIN_NAME
				, ATTACHED_NAME
				, IS_MAIN
				, ITEM_CODE
			) 
	<foreach collection="imgList" item="img" separator="UNION ALL" index="i">
		SELECT (SELECT 'IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(IMG_CODE, 4))), 0) +1 + #{i}, 3, 0) FROM ITEM_IMG)
				, #{img.originName}
				, #{img.attachedName}
				, #{img.isMain}
				, #{img.itemCode}
		FROM DUAL
	</foreach>	
		
	</insert>
	
</mapper>











































