<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
	<resultMap type="kh.study.team2.shop.item.vo.ItemVO" id="item">
		<id column="ITEM_CODE" property="itemCode"/>
		<result column="ITEM_NAME" property="itemName"/>
		<result column="ITEM_PRICE" property="itemPrice"/>
		<result column="REG_DATE" property="regDate"/>
		<result column="ITEM_COMMENT" property="itemComment"/>
		<result column="ITEM_STOCK" property="itemStock"/>
		<result column="ITEM_STATUS" property="itemStatus"/>
		<result column="TRADE_TYPE" property="tradeType"/>
		<result column="TRADE_ADDR" property="tradeAddr"/>
		<result column="VIEW_CNT" property="viewCnt"/>
		<result column="MAIN_CATE_CODE" property="mainCateCode"/>
		<result column="SUB_CATE_CODE" property="subCateCode"/>
		<result column="DETAIL_CATE_CODE" property="detailCateCode"/>
		<collection property="imgList" resultMap="img"/>
	</resultMap>
	
	<resultMap type="kh.study.team2.shop.item.vo.ImgVO" id="img">
		<id column="IMG_CODE" property="imgCode"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="ATTACHED_NAME" property="attachedName"/>
		<result column="IS_MAIN" property="isMain"/>
		<result column="ITEM_CODE" property="itemCode"/>
	</resultMap>
	
	<select id="getNextItemCode" resultType="String">
		SELECT 'ITEM_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ITEM_CODE, 6))), 0) +1, 3, 0) 
		FROM SHOP_ITEM
	</select>
	
	<insert id="insertItem">
		INSERT INTO SHOP_ITEM (
			  ITEM_CODE
			  , ITEM_NAME
			  , ITEM_PRICE
			  , ITEM_STOCK
			  , ITEM_COMMENT
			  , ITEM_STATUS
			  , TRADE_TYPE
			  , TRADE_ADDR
		  ) VALUES (
		  	  #{itemCode}	
		      , #{itemName}
		      , #{itemPrice}
		      , #{itemStock}
		      , #{itemComment}
		      , #{itemStatus}
		      , #{tradeType}
		      , #{tradeAddr}
		)
	</insert>
	
	<insert id="insertImgs">
		INSERT INTO ITEM_IMG (
				IMG_CODE
				, ORIGIN_NAME
				, ATTACHED_NAME
				, IS_MAIN
				, ITEM_CODE
			) 
	<foreach collection="imgList" item="img" separator="UNION ALL" index="i">
		SELECT (SELECT 'IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(IMG_CODE, 5))), 0) +1 + #{i}, 3, 0) FROM ITEM_IMG)
				, #{img.originName}
				, #{img.attachedName}
				, #{img.isMain}
				, #{img.itemCode}
		FROM DUAL
	</foreach>	
		
	</insert>
	
	<select id="selectItemList" resultMap="item">
		SELECT ITEM.ITEM_CODE
			,ITEM_NAME
			,ITEM_PRICE
			,ATTACHED_NAME
		FROM SHOP_ITEM ITEM,ITEM_IMG IMG
		WHERE ITEM.ITEM_CODE=IMG.ITEM_CODE
		AND IS_MAIN='Y'
		ORDER BY ITEM.ITEM_CODE DESC
	</select>
	
	<select id="select">
		SELECT ITEM
	</select>
</mapper>











































