<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">
	<resultMap type="kh.study.team2.shop.member.vo.MemberVO" id="member">
		<id column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_PW" property="memberPw"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_NICKNAME" property="memberNickName"/>
		<result column="MEMBER_TELL" property="memberTell"/>
		<result column="MEMBER_ADDR" property="memberAddr"/>
		<result column="ADDR_DETAIL" property="addrDetail"/>
		<result column="MEMBER_EMAIL" property="memberEmail"/>
		<result column="MEMBER_ROLE" property="memberRole"/>
		<result column="MEMBER_STATUS" property="memberStatus"/>
		<result column="REG_DATE" property="regDate"/>
	</resultMap> 
	
	<resultMap type="kh.study.team2.shop.manage.vo.ProfileVO" id="profile">
		<id column="PROFILE_CODE" property="profileCode"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGED_NAME" property="changedName"/>
		<result column="MEMBER_ID" property="memberId"/>
	</resultMap>
	
	<!-- 회원가입 -->
	<insert id="join">
		INSERT INTO SHOP_MEMBER(
					 MEMBER_ID
				    , MEMBER_PW
					, MEMBER_NAME
					, MEMBER_NICKNAME
					, MEMBER_ADDR
					, ADDR_DETAIL
					, MEMBER_TELL
					, MEMBER_EMAIL
			    ) VALUES(
				     #{memberId}
				    , #{memberPw}
				    , #{memberName}
				    , #{memberNickName}
				    , #{memberAddr}
				    , #{addrDetail}
				    , #{memberTell}
				    , #{memberEmail}
			    )
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultMap="member">
		SELECT MEMBER_ID
			, MEMBER_PW
			, MEMBER_ROLE
		FROM SHOP_MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 아이디 중복 체크 -->
	<select id="idChk" resultType="String">
		SELECT MEMBER_ID
		FROM SHOP_MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 회원정보 조회 -->
	<select id="selectMemberInfo" resultMap="member">
		SELECT MEMBER_ID
			, MEMBER_NAME
			, MEMBER_TELL
			, MEMBER_NICKNAME
			, MEMBER_ADDR||' '||ADDR_DETAIL AS MEMBER_ADDR
		FROM SHOP_MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 프로필생성 -->
	<insert id="insertProfile">
		INSERT INTO PROFILE (
		 	 PROFILE_CODE
		 	<!--  , ORIGIN_NAME -->
		 	 , MEMBER_ID
		  ) VALUES (
			 (SELECT 'PROFILE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(PROFILE_CODE, 9))), 0) +1, 3, 0) FROM PROFILE)	
			<!--  , #{originName} -->
			 , #{memberId} 
		)
	</insert>
	
	<!-- 프로필정보 조회 -->
	<select id="profileInfo" resultMap="profile">
		SELECT 
			PROFILE_CODE
			, CHANGED_NAME
			, MEMBER_ID
		FROM PROFILE
		WHERE MEMBER_ID = #{memberId}
	</select>
	
</mapper>










































