<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="noticeMapper">
	<resultMap type="kh.study.team2.shop.notice.vo.NoticeVO" id="notice">
		<id column="NOTICE_NUM" property="noticeNum"/>
		<result column="TITLE" property="title"/>
		<result column="CONTENT" property="content"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="READ_CNT" property="readCnt"/>
	</resultMap>
	
<!-- 글 등록 -->
<insert id="insertNotice">
	INSERT INTO NOTICE(
	    NOTICE_NUM
	    , TITLE
	    , CONTENT
	    ) VALUES(
	   (SELECT NVL(MAX(NOTICE_NUM), 0) + 1 FROM NOTICE)
	    , #{title}
	    , #{content}
	    )	
</insert>

<!-- 글 목록 조회 -->
<select id="selectNoticeList" resultMap="notice">
SELECT NOTICE_NUM
	, TITLE
	, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD')AS CREATE_DATE
FROM NOTICE
</select>	

<!-- 글 상세 정보 조회 -->
<select id="selectNoticeDetail" resultMap="notice">
SELECT NOTICE_NUM
	, TITLE
	, CONTENT
	, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD')AS CREATE_DATE
FROM NOTICE
WHERE NOTICE_NUM = #{noticeNum}
</select>

<!-- 글 수정  -->
<update id="correctNotice">
UPDATE NOTICE
SET TITLE = #{title}
	, CONTENT = #{content}
WHERE NOTICE_NUM = #{noticeNum}
</update>

</mapper>











































