<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="sellMapper">
	<resultMap type="kh.study.team2.shop.sell.vo.SellVO" id="sell">
		<id column="SELL_CODE" property="sellCode"/>
		<result column="ITEM_CODE" property="itemCode"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="SELL_DATE" property="sellDate"/>
		<result column="TOTAL_PRICE" property="totalPrice"/>
		<result column="BUY_REPLACE" property="buyReplace"/>
	</resultMap>
	
</mapper>











































