<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="wishMapper">
	<resultMap type="kh.study.team2.shop.wish.vo.WishVO" id="wish">
		<id column="WISH_CODE" property="wishCode"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="ITEM_CODE" property="itemCode"/>
		<result column="WISH_STATUS" property="wishStatus"/>
		<association property="itemVO" resultMap="itemMapper.item"/>
	</resultMap>
	
	
	<!--찜 등록 -->
	<insert id="insertWish">
		INSERT INTO WISH_LIST (
		     WISH_CODE
		    , MEMBER_ID
		     , ITEM_CODE
		   ) VALUES (
			(SELECT 'WISH_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(WISH_CODE, 6))), 0) +1, 3, 0) FROM WISH_LIST)
			, #{memberId}
			, #{itemCode}
		)
	</insert>
	
	<!-- 찜 목록 조회 -->
	<select id="selectWishList" resultMap="wish">
		SELECT 
			WISH_CODE
			, W.MEMBER_ID
			, S.ITEM_CODE
			, (SELECT ATTACHED_NAME
			   FROM ITEM_IMG I
			   WHERE I.ITEM_CODE = S.ITEM_CODE
			   AND IS_MAIN = 'Y') AS ATTACHED_NAME
			, ITEM_NAME
			, ITEM_PRICE
			, TRADE_ADDR
			, REG_DATE
		FROM WISH_LIST W, SHOP_ITEM S
		WHERE W.ITEM_CODE = S.ITEM_CODE
		AND W.MEMBER_ID = #{memberId}
		ORDER BY WISH_CODE DESC
	</select>
		<!-- AND MEMBER_ID = #{memberId} -->
	
	
	
</mapper>











































