<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout/base_layout}">

<div layout:fragment="content"> 
	<br>
 	<div class="col-12 mb-3"><h3>공지사항</h3></div>
 	<form action="/notice/list" method="post" class="mb-4">
		<input type="text" name="searchValue" placeholder="무엇을 도와드릴까요?" th:value="${noticeVO.searchValue}" style="font-size: 20px;">
		<input type="submit" class="btn btn-dark" value="검색"><br>
	</form>
 	<table class="table text-center border">
 		<colgroup>
	       <col width="15%">
	       <col width="45%">
	       <col width="30%">
	       <col width="*">
		</colgroup>
 		<tr>
 			<th>번호</th>
 			<th>제목</th>
 			<th>등록일</th>
 			<th>조회수</th>
 		</tr>
		<th:block th:if="${#lists.size(noticeList) == 0}">
			<tr>
				<td colspan="4">작성된 공지사항이 없습니다.</td>
			</tr>
		</th:block>
		<th:block th:unless="${#lists.size(noticeList) == 0}">
	 		<tr th:each= "notice : ${noticeList}">
	 			<td th:text=${notice.noticeNum}></td>
	 			<td><a th:href="@{/notice/noticeDetail(noticeNum=${notice.noticeNum})}"  th:text=${notice.title}></a></td>
	 			<td th:text=${notice.createDate}></td>
	 			<td th:text=${notice.readCnt}></td>
	 		</tr>
 		</th:block>
 	</table>
 	
 	<div class="text-center mb-4" style="margin-left: -4rem;">
		<th:block th:if="${noticeVO.prev}">
			<a th:text="prev" th:href="@{/notice/list(nowPage=${noticeVO.beginPage-1})}"></a>
		</th:block>
		<th:block th:each="pageNum : ${#numbers.sequence(noticeVO.beginPage, noticeVO.endPage)}">
			<a th:text="${pageNum}" th:href="@{/notice/list(nowPage=${pageNum})}" style="margin-right: 0.8rem; margin-left: 0.5rem;"></a>
		</th:block>
		<th:block th:if="${noticeVO.next}">
			<a th:text="next" th:href="@{/notice/list(nowPage=${noticeVO.endPage+1})}"></a>
		</th:block>
	</div>
 	
 	<div class="col-12 text-center">
 		<input sec:authorize="hasRole('ROLE_ADMIN')" type="button" class="btn btn-warning" value="글 작성" style="margin-right: 4rem;" th:onclick="|location.href='@{/notice/regNotice}'|">
 	</div>
</div>

</html>