<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout/base_layout}">

<div layout:fragment="content"> 
	<br>
 	<div class="col-12 mb-3"><h3>공지사항</h3></div>
 	<table class="table text-center">
 		<colgroup>
	       <col width="10%">
	       <col width="75%">
	       <col width="*">
		</colgroup>
 		<tr>
 			<th>번호</th>
 			<th>제목</th>
 			<th>등록일</th>
 		</tr>
 		<tr th:each= "notice : ${noticeList}">
 			<td th:text=${notice.noticeNum}></td>
 			<td><a th:href="@{/notice/noticeDetail(noticeNum=${notice.noticeNum})}"  th:text=${notice.title}></a></td>
 			<td th:text=${notice.createDate}></td>
 		</tr>
 	</table>
 	
 	<div class="text-center mb-4" style="margin-left: -4rem;">
		<th:block th:if="${noticeVO.prev}">
			<a th:text="prev" th:href="@{/notice/list(nowPage=${noticeVO.beginPage-1})}"></a>
		</th:block>
		<th:block th:each="pageNum : ${#numbers.sequence(noticeVO.beginPage, noticeVO.endPage)}">
			<a th:text="${pageNum}" th:href="@{/notice/list(nowPage=${pageNum})}"></a>
		</th:block>
		<th:block th:if="${noticeVO.next}">
			<a th:text="next" th:href="@{/notice/list(nowPage=${noticeVO.endPage+1})}"></a>
		</th:block>
	</div>
 	
 	<div class="col-12 text-center">
 		<input type="button" class="btn btn-warning" value="글 작성" style="margin-right: 4rem;" th:onclick="|location.href='@{/notice/regNotice}'|">
 	</div>
</div>

</html>