<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout/base_layout}">

<div layout:fragment="content"> 
 	<form th:action="@{/notice/correctNotice}" method="post">
		<div class="col-12 mb-3">
			<input type="hidden" name="noticeNum" th:value="${notice.noticeNum}"> 
		     <label for="title" class="form-label">TITLE</label>
		     <input type="text" class="form-control" name="title" th:value="${notice.title}">
	  	</div>
	  	<div class="col-12 mb-4">
		     <label for="content" class="form-label">CONTENT</label>
		     <textarea rows="15" class="form-control" name="content" style="resize: none;">[[${notice.content}]]</textarea>
	  	</div>
		
		<div class="col-12 text-center">
			<input type="submit" class="btn btn-success" value="수정완료">
 		</div>
 		<div style="margin-bottom: 5rem;"></div>
	</form>
</div>

</html>