<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout/base_layout}">

<div layout:fragment="content"> 
 	<form th:action="@{/notice/correctNotice}" method="post">
		<div>
			<input type="hidden" name="noticeNum" value="noticeNum"> 
		     <label for="title" class="form-label">TITLE</label>
		     <input type="text" class="form-control" name="title">
	  	</div>
	  	<div class="col-12 mb-3">
		     <label for="content" class="form-label">CONTENT</label>
		     <textarea rows="5" cols="40" class="form-control" name="content"></textarea>
	  	</div>
		
		<div class="col-12 text-center">
			<input type="submit" class="btn btn-warning" value="수정완료">
 		</div>
	</form>
</div>

</html>