<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout/base_layout}">

<div layout:fragment="content"> 
	<br>
 	<div class="col-12 mb-3"><h3>공지사항</h3></div>
 	<form th:action="@{/notice/regNotice}" method="post">
	  	<div class="col-12 mb-3">
	     <label for="title" class="form-label">TITLE</label>
	     <input type="text" class="form-control" name="title">
	  	</div>
	  	<div class="col-12 mb-3">
	     <label for="content" class="form-label">CONTENT</label>
	     <textarea rows="15" class="form-control" name="content" style="resize: none;"></textarea>
	  	</div>
	  	<div class="col-12 text-center">
	  		<input type="submit" class="btn btn-success" value="등록" style="margin-top: 1rem; margin-bottom: 2rem;">
	  	</div>
  	</form>
</div>

</html>