<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout/base_layout}">

<div layout:fragment="content"> 
<div class="container">
<div style="margin-top: 1rem;"></div>
<div class="card card-signin my-5">
	<div class="card-body">
	<div style="margin-top: 1rem;"></div>
	<h3 class="card-title text-center mb-5">주문 내역</h3>
		<div class="row justify-content-md-center">
			<div class="col-12">
				<div class="row mb-2">
					<div class="col-12" style="font-weight: bold;" id="buyerName" th:text="${memberInfo.memberName}"></div>
				</div>
				<div class="row mb-2">
					<div class="col-12" id="buyerTell" th:text="${memberInfo.memberTell}"></div>
				</div>
				<div class="row mb-5">
					<div class="col-12" id="buyerAddr" th:text="${memberInfo.memberAddr}"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

</div>

</html>