<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="adminFragment">
	<div class="mt-3">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" th:classappend="${menu} eq '1' ? 'active'"
				th:href="@{/admin/memberManage(menu=1)}" style="color: #8B7E74">회원관리</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/admin/regCateForm(menu=2)}" th:classappend="${menu} eq '2' ? 'active'" style="color: #8B7E74">카테고리생성</a>
			</li>
		</ul>
	</div>


</div>

</html>