<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="foot">
	<hr style="height : 2px; background-color: green; margin-top: 40px; margin-bottom: 20px; border:0;">
	<div class="col-12 mb-4" style="left:1px; bottom: 1px; position: inherit; color: grey;">
		<div class="row">
			<div class="col-6">
				<div class="row">
					<h4 class="mt-2">감자마켓(주) 사업자정보</h4>
					<div>
						대표이사 : 김감자   |   개인정보보호책임자 : 2조
					</div>
					<div>사업자등록번호: 111-11-11111 | 통신판매업신고 : 2022-울산-1111</div>
					<div>
						호스팅서비스 제공자 : hrd.net
					</div>
					<div>
						EMAIL : help@hrd.net   |   FAX : 00-000-0000
					</div>
					<div>
						주소:울산 공업탑 kh학원
					</div>
					<div>
						사업자정보 확인
					</div>					
				</div>
					
				
				<div class="row mt-4">
					<div>
						감자마켓(주)본관   |   이감자   |   000-00-00000
					</div>
					<div>
						울산광역시 남구 신정동 679-8, 2층
					</div>
					<div>
						감자마켓(주)별관1   |   김감자   |   000-00-00000
					</div>
					<div>
						울산광역시 남구 신정동 680-1, 2층
					</div>
					<div>
						감자마켓(주)별관2   |   최감자   |   000-00-00000
					</div>
					<div>
						울산광역시 남구 신정동 678-2, 1층
					</div>
				</div>
			</div>
			<div class="col-6 mt-2">
				<div>
					<div>고객센터(본관)</div>
					<h2 style="color: green;">0507-1382-7604</h2>
					<div>운영시간 9시~18시</div>
					<div>
						운영시간 9시 - 18시 (주말/공휴일 휴무, 점심시간 12시 - 13시)
					</div>
					<div>
					공지사항
					</div>
					<div>
					1:1 문의하기
					</div>
					<div>
					자주 묻는 질문
					</div>
					<div>
					우리은행 채무지급보증 안내
					</div>
					<div>
					감자마켓㈜는 “BGZT Digital”, “BGZT Lab”, “BGZT Lab 1”, “BGZT Lab 2”, “BGZT 컬렉션” 상점이 판매한 상품에 한해, 고객님이 현금 결제한 금액에 대해 우리은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고 있습니다.
					</div>
					<div>
					서비스 가입사실 확인
					</div>
					<div>
					Ⓒ PhotatoShop. Inc All rights reserved.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>