<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="top">
	<div class="row mt-3 mb-3">
		<div class="col-12 text-center">
			<a th:href="@{/item/list}">
				<h2 style="display: inline-block;">감자마켓</h2><img alt="..." src="/images/bannerPT.png" width="50px;">
			</a>
			
			<div class="col text-center" style="display: inline-block;position: absolute;right:10px;">
				<div sec:authorize="isAnonymous()">
					<div>
						<a th:href="@{/member/login}">로그인</a>/
						<a th:href="@{/member/join}">회원가입</a>
					</div>
				</div>
				<div sec:authorize="isAuthenticated()">
					<div>
						<div>
							[[${#authentication.name}]] 님 어서오세요! | <a th:href="@{/logout}">로그아웃</a>
						</div>
						<div>
							<a th:href="@{/manage/regItemForm}">판매하기</a> / 
							<a th:href="@{/manage/myMarket}">내 상점</a> / 
							<a target="_blank" onclick="potatoChat();" style="cursor: pointer;">감자톡</a>
							<a sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin/regCateForm}">/ (관리기능)</a><!-- 임시로 생성 -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript" th:src="@{/js/fragment/top.js}"></script>
</div>
</html>