<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/top.css">
</th:block>
<div th:fragment="top">
	<div class="row mt-3 mb-3">
		<div class="col-12 text-start">
			<div class="col-12" style="display: inline-block;">
				<div class="row">
					<div class="col-3">
						<a th:href="@{/item/list}" class="col-2">
							<h2 style="display: inline-block;">감자마켓</h2><img alt="..." src="/images/bannerPT.png" width="50px;">
						</a>
					</div>
					<div class="col-6">
						<form action="/item/searchResult" method="get" class="searchForm">
							<div class="input-group mb-3">
								<input type="text" name="searchKeyword" class="form-control border border-4 border-end-0 border-danger searchInput" placeholder="상품명 또는 카테고리를 입력해주세요" aria-describedby="button-addon2" style="border-radius: 0;">
								<button onclick="searchSubmit();" class="btn border border-4 border-danger border-start-0 searchBtn" type="button" id="button-addon2" style="border-radius: 0;">
									<img alt="" src="https://m.bunjang.co.kr/pc-static/resource/2be3c66fa47ccd5ece2a.png">
								</button>
							</div>
						</form>
					</div>
					<div class="col-3 text-center">
						<div sec:authorize="isAnonymous()">
							<div>
								<a th:href="@{/member/login}">로그인</a>/
								<a th:href="@{/member/join}">회원가입</a>
							</div>
						</div>
						<div sec:authorize="isAuthenticated()">
							<div>
								<div>
									[[${#authentication.name}]]님 어서오세요! | <a th:href="@{/logout}">로그아웃</a>
								</div>
								<div>
									<a th:href="@{/manage/regItemForm}">판매하기</a> | 
									<a th:href="@{/manage/myMarket}">내 상점</a> | 
									<a target="_blank" onclick="potatoChat();" style="cursor: pointer;">감자톡</a>
									<a sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin/memberManage}"> | (관리기능)</a><!-- 임시로 생성 -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript" th:src="@{/js/fragment/top.js}"></script>
</div>
</html>