 @font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SANJUGotgam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 폰트 자유롭게 변경하세요 */
body
{
	font-family: 'GangwonEdu_OTFBoldA';
	height: 1200px;
}

a{
	text-decoration: none;
	color: black;
}
a:hover {
	color: #7f7f7f;	
}
.hasError{
	color: red;
	font-size: 15px;
}
.searchInput:focus{
    box-shadow: none;
}
.searchBtn
{
	--bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
}
::-webkit-scrollbar {
    width: 15px;
  }
::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
::-webkit-scrollbar-track {
    background-color: #DAE2B6;
    border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}