.banner{
	background-color:white;
	position: absolute;
	z-index: 10;
	height: 15rem;
	top: 7.8rem;
	right: 1rem;
	width: 6rem;
} 
.like_it{
	width: 100%;
	margin-bottom:1rem;
	height: 5rem;
	
}
.clickItem{
	width: 100%;
	height: 15rem;
}



.dropdown {
	z-index:1;
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	z-index:1;
	background-color: #F9F9F9;
	min-width: 160px;
	padding: 3px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
	display: block; 
}
.d-block
{
	z-index: 0;
}
.mainCateNameList{
	padding: 0.5rem;
}

.mainCateNameList:hover{
	background-color: red;
	cursor: pointer;
}






.dropdown-sub-content {
	display: none;
	position: relative;
	left: 160px;
	z-index:2;
	background-color: #F9F9F9;
	min-width: 160px;
	padding: 8px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.mainCateNameList:hover .dropdown-sub-content {
	display: block; 
}
.d-block
{
	z-index: 0;
}
.mainCateNameList{
	padding: 0.3rem;
}

.mainCateNameList:hover{
	background-color: red;
}