<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/manage_layout}">

<div layout:fragment ="content">

	<style>
		.star {
			position: relative;
			font-size: 2rem;
			color: #ddd;
		}
	  
		.star input {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			opacity: 0;
			cursor: pointer;
		}

		.star span {
			width: 0;
			position: absolute; 
			left: 0;
			color: #CFB997;
			overflow: hidden;
			pointer-events: none;
		}
	</style>
	
	<div class="mt-3">

		<div>
			
			<div class="col text-center">
				<table class="table">
					<colgroup>
						<col width="20%">
						<col width="10%">
						<col width="*">
						<col width="10%">
						<col width="20%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">
								<div>주문일자</div>
								<div>[주문번호]</div>
							</th>
							<th scope="col" colspan="2">상품정보</th>
							<th scope="col">금액</th>
							<th scope="col">구매확정/리뷰작성</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:if="${#lists.size(buyList) == 0}">
							<tr>
								<td colspan="5">주문 내역이 없습니다.</td>
							</tr>
						</th:block>
						<th:block th:unless="${#lists.size(buyList) == 0}">
							<tr th:each="buy : ${buyList}">
								<td>
									<div style="line-height:25px;">　</div>
									<div style="line-height:25px;">[[${buy.buyDate}]]</div>
									<div style="line-height:25px;"><span>[</span>[[${buy.buyCode}]]<span>]</span></div>
									<div style="line-height:25px;">　</div>
								</td>
								<td class="text-end">
									<img th:src="|@{/images/}${buy.imgList[0].attachedName}|" height="100px;">
								</td>
								<td class="text-start" th:text="${buy.itemVO.itemName}"
									th:data-item-code="${buy.itemVO.itemName}" id="itemName" 
									th:onclick="|location.href='@{/item/itemDetail(itemCode=${buy.itemCode})}'|" style="line-height:100px;"></td>
								<td th:text="${#numbers.formatCurrency(buy.itemVO.itemPrice)}" style="line-height:100px;"></td>
								<td style="line-height:100px;">
									<!-- <input type="hidden" th:value="${buy.itemVO.itemName}" id="hiddenItemName"> -->
									<input type="hidden" th:value="${buy.itemVO.itemCode}" id="hiddenItemCode">
									<input type="hidden" th:value="${buy.seller}" id="hiddenSeller">
									
									<th:block th:if="${buy.isConfirmed} == 'Y'"> <!-- 구매 확정을 했으면 -->
										<input type="button" class="btn btn-success btn-sm" value="구매 확정" disabled>
									</th:block>
									<th:block th:unless="${buy.isConfirmed} == 'Y'"> <!-- 구매 확정을 안 했으면 -->
										<input type="button" class="btn btn-success btn-sm" value="구매 확정" th:onclick="isConfirmed(this);">
									</th:block>
									<!-- 구매 확정 안 하면 리뷰 작성 안 되게 -->
									<th:block th:if="${buy.itemVO.isWritten} == 'N'"> <!-- 리뷰 작성 안 했으면 -->									
										<th:block th:if="${buy.isConfirmed} == 'Y'"> <!-- 구매 확정 O -> 리뷰 작성 가능 -->
											<input type="button" class="btn btn-warning btn-sm" value="리뷰 작성" th:onclick="regReview(this);" >
										</th:block>
										<th:block th:unless="${buy.isConfirmed} == 'Y'"> <!-- 구매 확정 X -> 리뷰 작성 불가능 -->
											<input type="button" class="btn btn-warning btn-sm" value="리뷰 작성" disabled>
										</th:block>										
									</th:block>
									<th:block th:unless="${buy.itemVO.isWritten} == 'N'"> <!-- 리뷰 작성 했으면 -->
										<input type="button" class="btn btn-warning btn-sm" value="리뷰 작성" disabled>
									</th:block>
								</td>
							</tr>
						</th:block>						
					</tbody>
				</table>
				<div>
					<th:block th:if="${buyVO.prev}">
						<a th:text="prev" th:href="@{/manage/buyList(nowPage=${buyVO.beginPage - 1})}"></a>
					</th:block>
					<th:block th:each="pageNum : ${#numbers.sequence(buyVO.beginPage, buyVO.endPage)}">
						<a th:text="${pageNum}" th:href="@{/manage/buyList(nowPage=${pageNum},menu=3)}"></a>
					</th:block>
					<th:block th:if="${buyVO.next}">
						<a th:text="next" th:href="@{/manage/buyList(nowPage=${buyVO.endPage + 1})}"></a>
					</th:block>
				</div>
			</div>
		</div>
		
	</div>

	<!-- 후기 작성 버튼 클릭시 실행되는 Modal -->
	<div class="modal fade" id="review_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">리뷰 작성</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form class="row g-3" th:action="@{/board/regReview}" method="post" enctype="multipart/form-data">
							<div class="col-12">
								<div class="mt-3">
									상품명 | <span id="modalItemName"></span>
									<input type="hidden" name="itemCode" value="" id="modalItemCode">
									<input type="hidden" name="seller" value="" id="modalSeller">
								</div>
								<div class="mt-3"> 별점 | 
									<span class="star">
										★★★★★
										<span>★★★★★</span>
										<input type="range" oninput="drawStar(this)" value="1" step="1" min="0" max="10" name="starPoint">
									</span>
								</div>
							
								<div class="mt-3">
									<input type="text" class="form-control" name="boardTitle" placeholder="제목을 입력하세요">
								</div>
								<div class="mt-3">
									<textarea rows="10px;" class="form-control" name="boardContent" placeholder="내용을 입력하세요"></textarea>
								</div>
								<div class="mt-3">
									<input class="form-control" type="file" name="reviewImg">
								</div>
							</div>
							<div class="col-12 text-end">
								<button type="submit" class="btn btn-success">등록</button>
							</div>
						</form>
					</div>
				<!-- 	<div class="modal-footer">
					
					</div> -->
			</div>
		</div>
	</div>	

	<script type="text/javascript">
		 const drawStar = (target) => {
			    document.querySelector(`.star span`).style.width = `${target.value * 10}%`;
			  }
	</script>

	<script type="text/javascript" th:src="@{/js/buy/buy_list.js}"></script>



</div>
</html>
