<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/manage_layout}"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment ="content">
	<div class="container">
		<div class="row text-start">
			<!-- 검색 -->
		    <div class="col-12 mb-3 text-end">
		    	<form th:action="@{/manage/itemManage}" method="post">
		    		<div class="row">
		    			<div class="offset-7 col-2"  style="padding-right: 0px;">
		    				<select name="searchKeyword" class="form-select">
								<option value="ITEM_NAME" th:seleted="${itemVO.searchKeyword == 'ITEM_NAME'}">상품명</option>
								<option value="SALES_STATUS" th:seleted="${itemVO.searchKeyword == 'SALES_STATUS'}">판매상태</option>
							</select>
		    			</div>
		    			<div class="col-2" style="padding-right: 0px;">
		    				<input type="text" name="searchValue" class="form-control" th:value="${itemVO.searchValue}">
		    			</div>
		    			<div class="col-1">
		    				<button type="submit" class="btn btn-success form-control" style="padding-top: 9px; padding-bottom: 3px;">검색</button>
		    			</div>
		    		</div>
				</form>
		    	
		    </div>
			   <!--  <div class="col-6 mb-3 text-end">
			    	<div class="row">
			    		<div class="col-3">
							<select class="form-select">
								<option selected>상품명</option>
								<option>상품명</option>
							</select> 
						</div>
						<div class="col-3">
						<input class="form-control" type="text">
							<button class="btn btn-primary btn-sm">검색</button>
						</div>
			    	</div>
				    	
			    </div> -->
		    <hr>
		    <div class="col-12">
		    	<table class="table align-middle text-center">
	    			<colgroup>
				       <col width="8%">
				       <col width="19%">
				       <col width="12%">
				       <col width="16%">
				       <col width="*">
				       <col width="9%">
				       <col width="12%">
				       <col width="13%">
					</colgroup>
					  <thead>
					    <tr>
					      <th scope="col">
					      	<input type="checkbox" onclick="checkAll();" id="AllCbox">전체선택
					      </th>
					      <th scope="col">사진</th>
					      <th scope="col">판매상태</th>
					      <th scope="col">상품명</th>
					      <th scope="col">가격</th>
					      <th scope="col">찜</th>
					      <th scope="col">최근수정일</th>
					      <th scope="col">기능</th>
					    </tr>
					  </thead>
					  <tbody th:each="item : ${itemList}">
					    <tr>
					      <th scope="row">
					      	  <input type="checkbox" name="checkbox" class="checkbox" th:value="${item.itemCode}">
					      </th>
					      <td>
					      	<a th:href="@{/item/itemDetail(itemCode=${item.itemCode})}">
					      	   <img th:src="|@{/images/}${item.imgList[0].attachedName}|" width="125px;">
					      	</a>
					      </td>
					      <td>
					      	<select class="form-select" aria-label="Default select example" onchange="changeStatus(this);" th:data-item-code="${item.itemCode}">
					      		<option value="ON_SALE" th:selected="${item.salesStatus eq 'ON_SALE'}">판매 중</option>
					      		<option value="SOLD_OUT" th:selected="${item.salesStatus eq 'SOLD_OUT'}">판매 완료</option>
					      	</select>
					      </td>
					      <td>[[${item.itemName}]]</td>
					      <td th:text="${#numbers.formatCurrency(item.itemPrice)}"></td>
					      <td>[[${item.cntWishList}]]</td>
					      <td>[[${item.revisionDate}]]</td>
					      <td>
					      	<button th:onclick="|location.href='@{/manage/updateForm(itemCode=${item.itemCode})}'|"
					      	 	class="btn btn-warning btn-sm" style="width: 45px;">수정</button>
					      	<button th:onclick="|location.href='@{/manage/deleteItem(itemCode=${item.itemCode})}'|"
					      		class="btn btn-secondary btn-sm" style="width: 45px;">삭제</button>
					      </td>
					    </tr>
					  
					  </tbody>
				</table>
		    </div>
		    <div class="col-12 text-end">
		        <form action="" method="post" id="itemCodesForm">
		        	<input type="hidden" name="itemCodes" value="">
		        </form>
		    	<button th:onclick="deleteItem();" class="btn btn-warning">
		    		선택삭제
		    	</button>
		    </div>
		    <div class="text-center" th:if="${!#lists.isEmpty(itemList)}">
					<th:block th:if="${itemVO.prev}">
				   		<a th:href="@{/manage/itemManage(nowPage=${itemVO.beginPage}-1)}">&lt;</a>
				   	</th:block>
				   	
				   	<th:block th:each="pageNum : ${#numbers.sequence(itemVO.beginPage, itemVO.endPage)}">
				   		<a th:text="${pageNum}" th:href="@{/manage/itemManage(nowPage=${pageNum})}"></a> 	
				   	</th:block>
				   	
				   	<th:block th:if="${itemVO.next}">
				   		<a th:href="@{/manage/itemManage(nowPage=${itemVO.endPage}+1)}">&gt;</a>
				   	</th:block>
			 </div>
		  
		  
		  
		  
		  
		  
		  
		  
			
		</div>
	</div>







<script type="text/javascript" th:src="@{/js/manage/item_manage.js}"></script>
</div>
</html>
