<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/manage_layout}">

<div layout:fragment ="content">
	<div class="container">
		<div class="row text-start">
			<div class="col-12">
				<h3>
		    	   상품관리
		 		</h3>
			</div>
		    <hr>
		    <div class="col-12">
		    	<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">사진</th>
				      <th scope="col">판매상태</th>
				      <th scope="col">상품명</th>
				      <th scope="col">가격</th>
				      <th scope="col">찜</th>
				      <th scope="col">최근수정일</th>
				      <th scope="col">기능(수정)</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">
				      	 <img alt="" src="">
				      </th>
				      <td>
				      	<select>
				      		<option>판매 중</option>
				      		<option>예약 중</option>
				      		<option>삭제</option>
				      		<option>예약완료</option>
				      	</select>
				      </td>
				      <td>테스트</td>
				      <td>18000원</td>
				      <td>0</td>
				      <td>수정일</td>
				      <td>
				      	<button>수정</button>
				      </td>
				    </tr>
				    <tr>
				      <th scope="row">2</th>
				      <td>Jacob</td>
				      <td>Thornton</td>
				      <td>@fat</td>
				    </tr>
				    <tr>
				      <th scope="row">3</th>
				      <td colspan="2">Larry the Bird</td>
				      <td>@twitter</td>
				    </tr>
				  </tbody>
				</table>
		    </div>
		
		  
		  
		  
		  
		  
		  
		  
		  
			
		</div>
	</div>








</div>
</html>
