<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/manage_layout}"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment ="content">
	<div class="container">
		<div class="row text-start">
			<div class="col-12">
				<h3>
		    	   상품목록
		 		</h3>
			</div>
		    
		    <div class="col-12 mb-3">
		    	<input type="text">
		    	<button>검색</button>
		    	<select>
		    		<option>10개씩</option>
		    		<option>20개씩</option>
		    	</select>
		    	(가능하면 구현)
		    </div>
		    <hr>
		    <div class="col-12">
		    	<table class="table align-middle text-center">
				  <thead>
				    <tr>
				      <th scope="col">
				      	<input type="checkbox" onclick="checkAll();" id="AllCbox">전체선택
				      </th>
				      <th scope="col">사진</th>
				      <th scope="col">판매상태</th>
				      <th scope="col">상품명</th>
				      <th scope="col">가격</th>
				      <th scope="col">찜</th>
				      <th scope="col">최근수정일</th>
				      <th scope="col">기능</th>
				    </tr>
				  </thead>
				  <tbody th:each="item : ${itemList}">
				    <tr>
				      <th scope="row">
				      	  <input type="checkbox" name="checkboxes" th:value="${item.itemCode}">
				      </th>
				      <td>
				      	<a th:href="@{/item/itemDetail(itemCode=${item.itemCode})}">
				      	   <img th:src="|@{/images/}${item.imgList[0].attachedName}|" width="100px;">
				      	</a>
				      </td>
				      <td>
				      	<select>
				      		<option>판매 중</option>
				      		<option>예약 중</option>
				      		<option>예약완료</option>
				      	</select>
				      </td>
				      <td>[[${item.itemName}]]</td>
				      <td>[[${item.itemPrice}]]</td>
				      <td>[[${item.cntWishList}]]</td>
				      <td>수정일</td>
				      <td>
				      	<button th:onclick="|location.href='@{/manage/updateForm(itemCode=${item.itemCode})}'|"
				      	 	class="btn btn-warning btn-sm">수정</button>
				      	<button th:onclick="|location.href='@{/manage/deleteItem(itemCode=${item.itemCode})}'|"
				      		class="btn btn-secondary btn-sm">삭제</button>
				      </td>
				    </tr>
				  
				  </tbody>
				</table>
		    </div>
		    <div class="col-12 text-end">
		    	<button th:onclick="deleteItem();">
		    		선택삭제
		    	</button>
		    </div>
		  
		  
		  
		  
		  
		  
		  
		  
			
		</div>
	</div>







<script type="text/javascript" th:src="@{/js/manage/item_manage.js}"></script>
</div>
</html>
