<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<!-- <th:block layout:fragment="css">
      <link rel="stylesheet" th:href="@{}">
</th:block> -->


<div layout:fragment ="content">
<div class="container">
   <form action="/manage/updateMyInfo" method="post">
      <input type="hidden" th:value="${myInfo.memberId}" name="memberId">
		<div class="row">
			<div class="col-12 mt-3">
				<h2>내정보 수정</h2>
				
			</div>
			<div class="col-12">
				<div class="row text-center">
					<div class="col-12">
						<div>
							<table class="table">
								  <thead>
								    <tr>
								      <th scope="col">기본정보</th>
								      <th scope="col">
								      	<div>
								      	
								      	</div>
								      </th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								      <th scope="row">아이디</th>
								      <td>
								      	 <div>
								      	 	<input type="text" class="form-control" id="exampleFormControlInput1" 
								      	 	name="memberId" th:value="${myInfo.memberId}" disabled>
								      	 </div>
								      </td>
								    </tr>
								   <!--  <tr>
								      <th scope="row">비밀번호</th>
								      <td>
								      	 <div>
								      	 	<input type="text" class="form-control" id="exampleFormControlInput1" 
								      	 	name="memberPw" value="">
								      	 </div>
								      </td>
								    </tr>
								    <tr>
								      <th scope="row">비밀번호 확인</th>
								      <td>
								      	 <div>
								      	 	<input type="text" class="form-control" id="exampleFormControlInput1"  name="memberPw1">
								      	 </div>
								      </td>
								    </tr> -->
								    <tr>
								      <th scope="row">이름</th>
								      <td>
								      	 <div>
								      	 	<input type="text" class="form-control" id="exampleFormControlInput1" 
								      	 	name="memberName" th:value="${myInfo.memberName}" disabled>
								      	 </div>
								      </td>
								    </tr>
								    <tr>
								      <th scope="row">주소</th>
								      <td>
								      	 <div>
								      	 	<input type="text" class="form-control" id="exampleFormControlInput1" 
								      	 	name="memberAddr" th:value="${myInfo.memberAddr}">
								      	 </div>
								      </td>
								    </tr>
								    <tr>
								      <th scope="row">휴대폰</th>
								      <td>
								      	 <div>
								      	 	<input type="text" class="form-control" id="exampleFormControlInput1" 
								      	 	name="memberTell" th:value="${myInfo.memberTell}">
								      	 </div>
								      </td>
								    </tr>
								    <tr>
								      <th scope="row">이메일</th>
								      <td>
								      	 <div>
								      	 	<input type="text" class="form-control" id="exampleFormControlInput1" 
								      	 	name="memberEmail" th:value="${myInfo.memberEmail}">
								      	 </div>
								      </td>
								    </tr>
								  </tbody>
						     </table>
						</div>
					</div>
				</div>
			</div>
			<div class="text-end">
				<button type="submit" class="btn btn-info">수정하기</button>
			</div>
		</div>
     </form>
</div>


</div>
</html>