<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<!-- <th:block layout:fragment="css">
      <link rel="stylesheet" th:href="@{}">
</th:block> -->	

<div layout:fragment="content">

	<div class="col-10 text-center mt-3" style="margin: 0 auto;">
		<div>
			<hr>
			<!-- 내 정보 -->
			<div class="col mt-3 mb-3">
					<h4>[[${memberInfo.memberNickName}]]님의 상점</h4>
			</div>
			<div class="col mt-3">
				<div class="row">
					<div class="col">
						<div class="col"><br><br>프로필 사진<br><br></div>
						<div class="col">닉네임</div>
						<div class="col">
							<button class="btn btn-success" style="width: 30%">프로필 수정</button>
							<button class="btn btn-success" style="width: 30%" th:onclick="|location.href='@{/manage/itemManage}'|">내 상점 관리</button>
						</div>
					</div>
					<div class="col text-start">
						<div class="row">
							<div class="col-6">[등급]</div>
							<div class="col-6">[상점오픈일]</div>
							<div class="col-6">[상점방문수]</div>
							<div class="col-6">[판매횟수]</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<hr>
		<div>
			<div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
							상품
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
							찜
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="myMarketReview-tab" data-bs-toggle="tab" data-bs-target="#myMarketReview-tab-pane" type="button" role="tab" aria-controls="myMarketReview-tab-pane" aria-selected="false">
							상점 리뷰
						</button>
					</li>
					
					<!-- 본인만 보이는 탭 -->
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="writtenReview-tab" data-bs-toggle="tab" data-bs-target="#writtenReview-tab-pane" type="button" role="tab" aria-controls="writtenReview-tab-pane" aria-selected="false">
							다른 상점에 작성한 리뷰
						</button>
					</li>
					

				</ul>
				<div class="tab-content mt-3" id="myTabContent">
					<div class="tab-pane fade show active" id="home-tab-pane"
						role="tabpanel" aria-labelledby="home-tab" tabindex="0">
						<div class="row">
							<div class="col-12">
								<div class="row">
									<th:block th:each="item : ${itemList}">
										<div class="col-3">
											<div class="card" style="width: 18rem;">
												<a th:href="@{/item/itemDetail(itemCode=${item.itemCode})}">


													<img th:src="|@{/images/}${item.imgList[0].attachedName}|"
													width="100%;" height="350px;">

												</a>
												<!-- 이미지나 상품명 클릭하면 해당 상품 상세보기 페이지로 이동 -->

												<div class="card-body">
													<h5 class="card-title">[[${item.itemName}]]</h5>
													<p class="card-text"
														th:text="${#numbers.formatCurrency(item.itemPrice)}"></p>
													<!-- <p class="card-text">[[${item.itemComment}]]</p> -->

												</div>
											</div>
										</div>
									</th:block>
								</div>

								<!-- <table>
										<tr th:each="item : ${itemList}">
										  <td th:text="${item.itemCode}"></td>		
										</tr>
									</table>	 -->
							</div>
						</div>
					</div>
					
					<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
						찜
					</div>
					
					<div class="tab-pane fade" id="myMarketReview-tab-pane" role="tabpanel" aria-labelledby="myMarketReview-tab" tabindex="0">
						<div class="col mt-3">
							<div>
								<table class="table">
									<colgroup>
										<col width="10%">
										<col width="15%">
										<col width="10%">
										<col width="*">
										<col width="15%">
										<col width="15%">
									</colgroup>
									<thead>
										<tr>
											<td>No</td>
											<td>상품명</td>
											<td>별점</td>
											<td>제목</td>
											<td>작성자</td>
											<td>등록일</td>
										</tr>
									</thead>
									<tbody>
										<th:block th:if="${#lists.size(boardList) == 0}">
											<tr>
												<td colspan="6">작성된 후기가 없습니다.</td>
											</tr>
										</th:block>
										<th:block th:unless="${#lists.size(boardList) == 0}">
											<tr th:each="board : ${boardList}">
												<td th:text="${boardStat.count}"></td>
												<td th:text="${board.itemVO.itemName}"></td>
												<td>
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
														<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
													</svg>
													[[${board.starPoint}]]
												</td>
												<td th:text="${board.boardTitle}" th:onclick="reviewDetail([[${board.itemCode}]]);"></td>
												<td th:text="${board.memberId}"></td>
												<td th:text="${board.regDate}"></td>
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>
						</div>
					</div>
										
					<div class="tab-pane fade" id="writtenReview-tab-pane" role="tabpanel" aria-labelledby="writtenReview-tab" tabindex="0">
						<div class="col mt-3">
							<div>
								<table class="table">
									<colgroup>
										<col width="10%">
										<col width="15%">
										<col width="10%">
										<col width="*">
										<col width="15%">
										<col width="15%">
									</colgroup>
									<thead>
										<tr>
											<td>No</td>
											<td>상품명</td>
											<td>별점</td>
											<td>제목</td>
											<td>작성자</td>
											<td>등록일</td>
										</tr>
									</thead>
									<tbody>
										<th:block th:if="${#lists.size(writtenReviewList) == 0}">
											<tr>
												<td colspan="6">작성한 후기가 없습니다.</td>
											</tr>
										</th:block>
										<th:block th:unless="${#lists.size(writtenReviewList) == 0}">
											<tr th:each="review : ${writtenReviewList}">
												<td th:text="${reviewStat.count}"></td>
												<td th:text="${review.itemVO.itemName}"></td>
												<td>
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
														<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
													</svg>
													[[${review.starPoint}]]
												</td>
												<td th:text="${review.boardTitle}" th:onclick="reviewDetail([[${review.itemCode}]]);"></td>
												<td th:text="${review.memberId}"></td>
												<td th:text="${review.regDate}"></td>
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<br>
		<hr>

	</div>
	
	<!-- 리뷰 제목 클릭시 실행되는 Modal -->
	<div class="modal fade" id="reviewDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			 	<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div> 
				<div class="modal-body reviewDetailDiv">
				
					
					<div class="col-12 detailAjaxDiv"> <!-- 사진 클릭하면 원본 크기로 보이게 -->
						
						<div class="col-12 text-end mb-3"> <!-- 본인이 쓴 글에만 보이게 -->
							<span>수정</span>
							 |
							<span th:onclick="deleteReviewAjax()">삭제</span>
						</div>
						
						
						
						
					</div>
					
					<div class="col-12"> <!-- style="height: 300px; overflow-y: scroll;" -->
						<div class="row replyDiv">
							<div class="col-10">
								<textarea rows="2" cols="90%" name="replyContent"
											style="resize: none;" class="form-control"></textarea>
							</div>
							<div class="col-2">
								<div>
									<input type="button" value="등록" class="btn btn-primary"
											style="height: 62px; width: 58px;">
								</div>
							</div>
						</div>
						
						<hr>
						
						<div class="col-12 replyListDiv">
							<div class="col-12 text-end">
								<span style="font-size: 0.8rem;">댓글 등록일</span>
							</div>
							<div class="col-12 text-start">댓글 작성자</div>
							<div class="col-12">
								댓글 내용
							</div>
							<div class="col-12 text-end">
								<input type="button" value="삭제" class="btn btn-secondary">
							</div>
							<hr>
						</div>
					</div>

				</div>
				
		<!-- 	<div class="modal-footer">
					
				</div> -->
				
			</div>
		</div>
	</div>
	
<script type="text/javascript" th:src="@{/js/manage/my_market.js}"></script>

</div>
</html>
