<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/manage_layout}"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment ="content">

	<style>
	
		/* .testImg{
		  postiion : relative;
		  width: 230px;
		  height: 230px;
		} */
		/* .testBtn {
		  position: absolute;
		  top: 170px;
		  left : 35px; 
		} */
		
		/*  .testBtn {
		  position: absolute;
		  top: 5px;
		  left: 12px;
		}  */
		
		/* .testBtn{
		position:absolute;
		text-align: center;
		
		height: 20px;
		margin-top: 80%;
		background-color: grey;
		cursor: pointer;
	
	} */
		
		
		/* button.btn2 {
		  position: absolute;
		  top: 85px;
		  left : 95px;
		} */
	</style>



 <div class="container">
	<div class="row">
	    <div class="col-12 mt-3">
	    	<h2>상품수정</h2>
	    </div>
		<div class="col-12">
		   <div class="row text-center">
			  <div class="col-12">
			  		
					  <form th:action="@{/manage/updateItem}" method="post" enctype="multipart/form-data">
						<div class="row">
							<div class="col">
							   <hr>
							   
						  	   <div>
								  <table class="table align-middle">
								  	<colgroup>
										<col width="20%">
										<col width="*">
									</colgroup>	
									<thead>
										<tr>
											<th scope="col">기본정보</th>
											<th scope="col">
											  <div class="text-start">
												*필수항목
											  </div>
											  
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">상품이미지*</th>
											<td>
												<div class="row">
															<div class="col-12 text-start mb-3">[메인 이미지]</div>
															<div class="col-12 mb-3">
																<div class="row text-center">
																	<div class="col-8 text-center">
																		<div class="row mainImgDiv">
																			<th:block th:each="img : ${itemInfo.imgList}">
																				 <th:block th:if="${img.isMain eq 'Y'}">
																				 	  <div class="col-3 mainDiv">
																				 	  	[기존 메인 이미지]
																				 	  		<img id="preview" th:src="|@{/images/}${img.attachedName}|" 
																				 	  		  width="230px;" height="230px;">
																				 	  		 <input type="hidden" th:value="${img.imgCode}" name="imgCode">  
																				 	  		 <input type="hidden" th:value="${itemInfo.itemCode}" name="itemCode">  
																				 	  		
																				 	  </div>
																				 	 <!--  <div class="col-3">
																							<img width="230px;" height="230px;" id="preview">
																				 	  	     
																				 	  </div> -->
																				 </th:block>
																			</th:block>
																	     </div>
																	
																	</div>
																	<div class="col-4">
																		메인 이미지 수정
																		<hr>
																		<div class="input-group flex-nowrap mb-3">
																   		   <span class="input-group-text" id="addon-wrapping">Main Images</span>
																		   <input type="file" onchange="readURL(this);" id="mainImgTag"
																		   class="form-control" name="mainImg">
																		  <!--  <input type="file"  id="mainImgTag"
																		   class="form-control" name="mainImg"> -->
																	    </div>
																	</div>
																</div>
															
															</div>
															<hr>
															
															
															<div class="col-12 text-start">[서브 이미지]</div>
															<div class="col-12">
															   <div class="row text-center allSubImgDiv">
																	 <th:block th:each="img : ${itemInfo.imgList}">
																			 <th:block th:if="${img.isMain eq 'N'}">
																			   <div class="col-3 subDiv loadImgDiv">
																			   			<img th:src="|@{/images/}${img.attachedName}|" width="230px;" height="230px;"><br>
																			   			<input type="hidden" th:value="${itemInfo.itemCode}"> 
																			     		<button type="button" class="testBtn"
																			     			th:onclick="deleteImg(this);" 
																			     			th:data-img-code="${img.imgCode}"
																			     			th:data-item-code="${itemInfo.itemCode}">x</button>	
																			     		<!-- <button type="button" class="sc-kxynE gpQVsP"></button>	 -->
																			   </div>
																		</th:block>
																	 </th:block>
																	 <!--서브 이미지 미리보기  -->
																			   
																 </div>
															</div>
															
															
															<!-- <div>
																<input type="file" onchange="readURL(this);"> 
																<img id="preview" width="230px;" height="230px;"/>
															</div> -->
															<div>
																<img class="preview" width="230px;">
															</div>	
												
													    			
													    			
													
													<div class="col-12 text-start mt-3">
														서브 이미지 수정
														<hr>
														
											 		   <div class="input-group flex-nowrap mb-3">
												          <span class="input-group-text" id="addon-wrapping">Sub Images</span>
													      <input type="file" onchange="readURL2(this);" 
													      class="form-control" name="subImgs" multiple value="null">
													   </div> 		
													</div>
											   </div>
										      
											</td>
										</tr>
										<tr>
										  <th scope="row">상품명*</th>
										  <td>
							              	  <input type="text" class="form-control" id="exampleFormControlInput1"  name="itemName" th:value="${itemInfo.itemName}">
											   <input type="hidden" th:value="${itemInfo.itemCode}" name="itemCode">
										  </td>
										</tr>
										<tr>
											<th scope="row">카테고리*</th>
											<td>
						 					  <!--  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="카테고리는 임시로 생성^^" > -->
											    <select name="mainCateCode" class="form-select form-select-sm" aria-label=".form-select-sm example">
											       <option selected >카테고리</option>
											         <th:block th:each="mainCate:${mainCateList}">
											    	   <option value="${mainCate.mainCateCode}">[[${mainCate.MainCateName}]]</option>
											         </th:block>
											    </select>
											</td>
										</tr>
										<tr>
										  <th scope="row">상품가격*</th>
										  <td>
								          <input type="text" class="form-control" id="exampleFormControlInput1" name="itemPrice" th:value="${itemInfo.itemPrice}">
										
										  </td>
										</tr>
										<tr>
											<th scope="row">상품설명*</th>
											<td>
										     	<!-- <input type="text" class="form-control" id="exampleFormControlInput1" name="itemComment" th:value="${itemInfo.itemComment}"> -->
											 	 <textarea rows="5"  class="form-control"
										    		  name="itemComment" style="resize: none; height: 8rem;"
										         	  placeholder="상품에 대한 정보를 입력해주세요" >[[${itemInfo.itemComment}]]</textarea>
											</td>
										</tr>
										<!-- <tr>
											<th scope="row">상품수량</th>
											<td>
												<input type="number" class="form-control" id="exampleFormControlInput1" name="itemStock" th:value="${itemInfo.itemStock}">
											</td>
										</tr> -->
										<tr>
											<th scope="row">상품상태*</th>
											<td>
												 <div class="form-check form-check-inline">
																<input class="form-check-input" type="radio"
																	name="itemStatus" id="inlineRadio1" value="중고" 
																	th:checked="${itemInfo.itemStatus eq '중고'}"> 
																	<label class="form-check-label"
																	for="inlineRadio1">중고</label>
												  </div>
											      <div class="form-check form-check-inline">
												 		<input class="form-check-input" type="radio"
														name="itemStatus" id="inlineRadio2"
														th:checked="${itemInfo.itemStatus eq '새상품'}"
														value="새상품"> 
														<label class="form-check-label"
														for="inlineRadio2">새상품</label>
												  </div>
											    <!-- <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="상품상태에 대한 정보를 입력해주세요" name="itemStatus" value=""> -->
											</td>
										</tr>
										<tr>
											<th scope="row">거래방법*</th>
											<td>
												  <div class="form-check form-check-inline">
																<input class="form-check-input" type="radio"
																	name="tradeType" id="inlineRadio3"
																	value="직거래" th:checked="${itemInfo.tradeType eq '직거래'}">
																	 <label class="form-check-label"
																	for="inlineRadio1">직거래</label>
												  </div>
											      <div class="form-check form-check-inline">
												 	<input class="form-check-input" type="radio"
														name="tradeType" id="inlineRadio4"
														value="택배" th:checked="${itemInfo.tradeType eq '택배'}"> 
														<label class="form-check-label"
														for="inlineRadio2">택배</label>
												  </div>
												 <!-- <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="거래방법을 입력해주세요" name="tradeType" value="">  -->
											</td>
										</tr>
										<tr>
											<th scope="row">거래주소*</th>
											<td>
											   <div class="mb-3">
                    							 <input onclick="searchTrAddr();" type="text" class="form-control" 
                    							   id="tradeAddr" name="tradeAddr" th:value="${itemInfo.tradeAddr}">
                  							  </div>
               
                  
              							      <div class="mb-3">
                    							<input onclick="searchTrAddr();" type="button" class="form-control" value="Search">
                  							  </div>
											</td>
										</tr>
									  </tbody>
								   </table>
						  	   </div>
						  
						  
						  
						  
						  
							   
							</div>
						</div>
						<button type="submit" class="btn btn-success">수정하기</button>
					</form>
					
					<!-- 임시버튼 (상품목록 조회 테스트)-->
					<div class="text-end">
						<button type="button" th:onclick="|location.href='@{/item/memberItemList}'|">
						임시상품목록
					   </button>
					</div>
					
			  		
			  </div>
			</div>
		</div>
	</div>
 </div>








<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" th:src="@{/js/item/regItem.js}"></script><!-- 타임리프에서 경로나 페이지이동은 @{ }로 작성해준다.   -->
<script type="text/javascript" th:src="@{/js/manage/update_item.js}"></script>
</div>
</html>
