<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<!-- <th:block layout:fragment="css">
      <link rel="stylesheet" th:href="@{}">
</th:block> -->


<div layout:fragment ="content">
<h3>상품 상세 정보 페이지~</h3>
<div class="container">
  <div class="row text-center">
	 <div class="col-12">
	    <div class="row mb-3">
	      홈 카테고리
	      
	    </div>
	    <div class="row mb-3">
	      
	      <div class="col-3">
	        <img th:src="|@{/images/}${itemInfo.imgList[0].attachedName}|">
	      </div>
	      <div class="col-9">
	        <!-- 상품설명 -->
	        <div class="row">
	          <div class="col-12">
	             <h3> [[${itemInfo.itemName}]]</h3>
	             <h3>[[${itemInfo.itemPrice}]]</h3>
	          </div>
	          <div class="col-12">
	            [찜/ 조회수 / 등록일]
	          </div>
	          <div class="col-12">
	             상품상태 [[${itemInfo.itemStatus}]]
	          </div>
	          <div class="col-12">
	             <button class="btn btn-success">찜</button>
	             <button class="btn btn-success">감자톡</button>
	             <button class="btn btn-success">바로구매</button>
	          </div>
	        </div>
	        
	      </div>
	      
	    </div>
	    <div class="row">
	      <div class="col-9">
	        <div>상품정보(상품설명)</div>
	        <div>거래지역 / 카테고리</div>
	        
	      </div>
	      <div class="col-3">
	        <div>상점정보</div>
	        <div>상점이미지</div>
	        <div>상품목록</div>
	        <div>
		        상품후기
		        <table class="table">
				  <thead>
				    <tr>
				      <th scope="col">상품후기</th>
				      <th scope="col">no</th><!--상품후기 개수 -->
				     
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">회원이미지</th>
				      <td>
				      회원닉네임<br>
				      별점<br>
				      상품후기<br>
				      후기등록일
				      </td>
				     
				    </tr>
				  
				  </tbody>
				</table>
	        </div>
	        <div>감자톡/ 바로구매</div>
	        
	        
	      </div>
	    </div>
	  
	  
	 </div>
	  
	  
	  
  </div>
</div>











</div>
</html>