<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<!-- <th:block layout:fragment="css">
      <link rel="stylesheet" th:href="@{}">
</th:block> -->


<div layout:fragment ="content">
임시상품목록 페이지
	<div class="col-10 text-center mt-3" style="margin: 0 auto;">
			<div>
				<!-- 내 정보 -->
				<div class="col mt-3 mb-3">
						<h4><회원 닉네임>님의 상점</h4>
				</div>
				<!--프로필 div  -->
				<div class="col mt-3">
					<div class="row">
						<div class="col">
							<div class="col"><br><br>
								<!-- <img src="/images/1.png" width="200px;"> -->
								<img th:src="|@{/images/}${profileInfo.changedName}|" width="200px;">
							<br><br></div>
							<div class="col">닉네임[[${profileInfo.profileCode}]]</div>
							<div class="col">
								<!-- <button class="btn btn-success" style="width: 30%" 
								th:onclick="|location.href='@{/member/profileForm}'|">
								프로필 수정
								</button> -->
								
								<button class="btn btn-success" style="width: 30%" 
								th:onclick="|location.href='@{/manage/myInfo(memberId=${profileInfo.memberId})}'|">
								 내정보 수정
								</button>
								<button style="width: 30%" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
 								    프로필이미지 수정
								</button>
							</div>
						</div>
						<div class="col text-start">
							<div class="row">
								<div class="col-6">[등급]</div>
								<div class="col-6">[상점오픈일]</div>
								<div class="col-6">[상점방문수]</div>
								<div class="col-6">[판매횟수]</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<br>
			<br>
			<br>
			
			<div>
			 <h3>임시상품목록</h3>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item" role="presentation">
					    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">상품</button>
					  </li>
					  <li class="nav-item" role="presentation">
					    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">찜</button>
					  </li>
					  <li class="nav-item" role="presentation">
					    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">구매목록</button>
					  </li>
					 
				</ul>
				<div class="tab-content" id="myTabContent">
					  <!-- 상품 -->	
					  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
						    <div class="row">
						        <div class="col-12">
						        	<div class="row text-start mt-3">
						        		<div class="col">
						        		    <h3>상품</h3>
						        		    <hr>
						        		</div>
						        	</div>
						        </div>
								<div class="col-12">
									<div class="row">
										<th:block th:each="item : ${itemList}">
											<div class="col-2 mt-3 mb-3" >
												<!-- <div class="card" style="width: 18rem;"> -->
												<div class="card" style="width:10rem">
													<a th:href="@{/item/itemDetail(itemCode=${item.itemCode})}">
				
				
														<img th:src="|@{/images/}${item.imgList[0].attachedName}|"
														width="100%;" height="200px;">
				
													</a><!-- 이미지나 상품명 클릭하면 해당 상품 상세보기 페이지로 이동 -->
				
													<div class="card-body">
														<h5 class="card-title">[[${item.itemName}]]</h5>
														<p class="card-text"
															th:text="${#numbers.formatCurrency(item.itemPrice)}"></p>
														<!-- <p class="card-text">[[${item.itemComment}]]</p> -->
				
													</div>
												</div>
				
										    </div>
								  		</div>
				
									<!-- <table>
										<tr th:each="item : ${itemList}">
										  <td th:text="${item.itemCode}"></td>		
										</tr>
									</table>	 -->
								   </div>
						     </div>
					  </div>
					  <!--찜 -->
					  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
						  <div class="row">
						  	<div class="col-12">
						  		<div class="row text-start mt-3">
						  			<div class="col">
			        		    		<h3>찜</h3>
			        		    		<hr>
						 			</div>
						  		</div>
						  		<div class="row">
						  			<div class="col-6 text-start">
						  				<input type="checkbox">
						  				<input type="button" value="선택삭제">
						  			</div>
						  			<div class="col-6 text-end">
						  				[최신순][인기순][저가순][고가순]
						  			</div>
						  		</div>
						 		<div class="row">
							 		  		<div class="row  justify-content-center">
							 		  			<div class="col-11">
							 		  				<div class="row" style="background-color: blue;">
											 		 <th:block th:each="wish : ${wishList}">
											 		  	
											 		  		 <div class="col-5" style="background-color: aqua;  margin-top: 20px; border: 1px solid #dddddd; margin-right: 5rem;">
								 				<div class="row">
								 					<div class="col-4" style="margin: 0 auto;">
								 						<a th:href="@{/item/itemDetail(itemCode=${wish.itemVO.itemCode})}">
								 					    	<img th:src="|@{/images/}${wish.itemVO.imgList[0].attachedName}|" width="100%;" height="200px;">
								 						</a>
								 					</div>
								 					<div class="col-7" style="margin: 0 auto; margin-top: 30px;">
								 						<div>
								 							[[${wish.itemVO.itemName}]]
								 						</div>
								 						<div>
								 							[[${wish.itemVO.itemPrice}]]
								 						</div>
								 						<div>
								 							[[${wish.itemVO.regDate}]]
								 						</div>
								 						<div>
								 							[[${wish.itemVO.tradeAddr}]]
								 						</div>
								 					</div>
								 					<div class="col-1">
								 						<input type="checkbox">
								 					</div>
								 				</div>
								 			</div> 
							 		  					 </th:block> 	
							 		  				</div>
							 		  			</div>
							 		  		</div>
							 		  	
								 		 
								 		
								 			
								 			
							 		   
							 			<!-- <div class="col-5" style="background-color: aqua; margin: 0 auto; margin-top: 20px;">
							 				<div class="row">
							 					<div class="col-4">
							 						이미지
							 					    <img alt="" src="">
							 					</div>
							 					<div class="col-7">
							 						상품설명
							 						<div>상품명</div>
							 						<div>상품가격</div>
							 						<div>상품등록일</div>
							 						<div>상품주소</div>
							 					</div>
							 					<div class="col-1">
							 						<input type="checkbox">
							 					</div>
							 				</div>
							 			</div>
							 			<div class="col-5" style="background-color: green; margin: 0 auto; margin-top: 20px;">
							 				<div class="row">
							 					<div class="col-4">
							 						이미지
							 					    <img alt="" src="/images/0553d864-ad42-48d7-8fa2-79456baf27f8.jpg" width="100%;">
							 					</div>
							 					<div class="col-7">
							 						상품설명
							 						<div>상품명</div>
							 						<div>상품가격</div>
							 						<div>상품등록일</div>
							 						<div>상품주소</div>
							 					</div>
							 					<div class="col-1">
							 						<input type="checkbox">
							 					</div>
							 				</div>
							 			</div>
							 			<div class="col-5" style="background-color: lime; margin: 0 auto; margin-top: 20px;">
							 				<div class="row">
							 					<div class="col-4">
							 						이미지
							 					    <img alt="" src="">
							 					</div>
							 					<div class="col-7">
							 						상품설명
							 						<div>상품명</div>
							 						<div>상품가격</div>
							 						<div>상품등록일</div>
							 						<div>상품주소</div>
							 					</div>
							 					<div class="col-1">
							 						<input type="checkbox">
							 					</div>
							 				</div>
							 			</div>
							 			<div class="col-5" style="background-color: orange;  margin: 0 auto; margin-top: 20px;">
							 				<div class="row">
							 					<div class="col-4">
							 						이미지
							 					    <img alt="" src="">
							 					</div>
							 					<div class="col-7">
							 						상품설명
							 						<div>상품명</div>
							 						<div>상품가격</div>
							 						<div>상품등록일</div>
							 						<div>상품주소</div>
							 					</div>
							 					<div class="col-1">
							 						<input type="checkbox">
							 					</div>
							 				</div>
							 			</div> -->
							 			
							 			
						 		  </div>	
						  	</div>
						  </div>
						  
						  
					  </div>
					  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">구매목록</div><!--연지가 구현  -->
				</div>
			




		</div>
			<br>
			<br>
			<br>
				
			<div class="col">
				<div>[상점 Q&A]</div>
				<div>
					<table class="table">
						<colgroup>
							<col width="10%">
							<col width="*">
							<col width="15%">
							<col width="15%">
						</colgroup>
						<thead>
							<tr>
								<td>No</td>
								<td>제목</td>
								<td>작성자</td>
								<td>등록일</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="text-end">
					<input type="button" value="글쓰기" th:onclick="|location.href='@{/board/regMarketBoard}'|">
				</div>
			
			
			</div>
			<!-- <div>상점후기</div>
			탭 누르면 아코디언 형식으로 나오게
			<div>위시리스트</div>
			
			본인만 보이는 탭
			<div>다른 상점에 남긴 Q&A</div>
			<div>구매내역</div> -->
		</div>





<!--모달-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
   <form th:action="@{/manage/profileImg}" method="post">
    <input type="hidden" th:value="${profileInfo.profileCode}" name="profileCode">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">프로필 수정</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
      	<div class="row">
      		<div class="col-12">
      		  <label>닉네임</label>
      		  <div class="input-group flex-nowrap mb-3">
      		  	<input type="text" class="form-control" name="memberNickName">
      		  </div>
      		  <label>상점 이미지</label>
      	      <div class="input-group flex-nowrap mb-3">
					<input type="file" class="form-control" name="changedName">
			   </div>
			   <!-- <label>상점 닉네임</label>
      	       <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="상품가격을 입력해주세요" name="itemPrice" value=""> -->

      		</div>
      	</div>
         
      
      
      
      
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">수정</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
   </form>
  </div>
</div>














</div>
</html>