<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout/base_layout}">

<div layout:fragment="content"> 
<br>
<span style="font-size: 40px; margin-right: 1rem;">F&Q</span>
<span style="font-size: 20px;">자주묻는질문</span>
<div style="margin-top: 10px;"></div>
 <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h6 class="accordion-header" id="flush-headingOne">
       <table class="table text-center border">
			<colgroup>
		       <col width="15%">
		       <col width="*">
			</colgroup>
	 		<tr>
	 			<th>구분</th>
	 			<th>제목</th>
	 		</tr>
      	</table>
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
      <div class="col-12">
      	<span style="margin-right: 9rem; margin-left: 3rem;">로그인/정보</span>
      	<span>아이디와 비밀번호가 기억나지 않아요.</span>
      </div>
      </button>
    </h6>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" style="margin-right: 10rem; margin-left: 15.5rem;">
	      	로그인 화면에서  아이디 찾기/비밀번호 찾기를 통해 확인 가능합니다.<br>
			아이디 찾기는 아래 3가지 방법 중 하나로 진행해 주세요.<br>
			■ 휴대전화<br>
			회원 정보에 등록된 본인의 휴대전화 번호를 인증하는 방법입니다.<br>
			■ 이메일<br>
			회원 정보에 등록된 본인의 이메일 주소를 인증하는 방법입니다.<br>
			■ 본인인증<br>
			이용 중인 통신사와 휴대전화 번호를 인증하는 방법입니다.<br>
			※ 비밀번호 재설정을 완료한 휴면 회원은 휴면 해제 및 탈퇴 신청이 취소됩니다.<br>
			※ 비밀번호 찾기는 휴대전화 본인 인증으로만 가능합니다.
		</div>
	   </div>
	 </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
	      <div class="col-12">
	      	<span style="margin-right: 10rem; margin-left: 3rem;">상품 문의</span>
	      	<span>상품 문의는 어떻게 작성하나요?</span>
	      </div>
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" style="margin-right: 10rem; margin-left: 15.5rem;">
       문의 하는 상품의 상세 페이지 > 하단의 상품 문의 목록에서 작성할 수 있습니다.<br>
		※ 재입고, 사이즈, 배송 등 상품과 관련된 문의를 할 수 있습니다.<br>
		※ 상품과 관련 없는 욕설, 비방, 회원 간 거래 글, 명예훼손, 타 쇼핑몰 언급, 허위사실 유포, 광고성 등의 문의는 숨김 처리됩니다.<br>
		※ 주문번호, 연락처, 계좌번호 등의 개인 정보 관련 내용은 노출이 되지 않도록 비밀글로 문의해 주세요.<br>
		※ 개인정보 노출된 공개 글은 비밀글로 전환될 수 있고, 개인 정보 노출로 인한 피해는 무신사 스토어가 책임지지 않습니다.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
         <div class="col-12">
	      	<span style="margin-right: 10rem; margin-left: 3rem;">가입 인증</span>
	      	<span>본인인증 문자가 오지 않아요.</span>
	      </div>
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" style="margin-right: 10rem; margin-left: 15.5rem;">
    	사용 중인 통신사 및 휴대전화 번호를 정확하게 입력했는지 확인해 주세요.<br>
		이후에도 인증번호가 오지 않을 경우 아래 내용을 확인해 주세요.<br>
    </div>
  </div>
</div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
         <div class="col-12">
	      	<span style="margin-right: 10rem; margin-left: 3rem;">결제 수단</span>
	      	<span>결제 방법에는 어떤 것들이 있나요?</span>
	      </div>
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-collapseFive" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" style="margin-right: 10rem; margin-left: 15.5rem;">
    	주문서 작성 시 일반결제로 결제 항목에서 선택이 가능합니다.<br>
		■ 일반 결제<br>
		신용카드, 가상계좌, 계좌이체, 휴대폰결제, 토스 페이, 카카오 페이, 네이버 페이, 차이 페이, 페이코 결제가 있습니다. 
    </div>
  </div>
</div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
         <div class="col-12">
	      	<span style="margin-right: 10rem; margin-left: 3rem;">배송 일반</span>
	      	<span>배송 조회는 어떻게 하나요?</span>
	      </div>
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-collapseFive" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" style="margin-right: 10rem; margin-left: 15.5rem;">
    	배송조회 메뉴에서 배송진행 상황을 확인할 수 있습니다.<br>
		■ 배송조회 경로<br>
		마이페이지 > 배송 중/픽업 대기 > 배송조회<br>
		※ 출고 후 송장 조회까지는 평일 기준 1일 소요됩니다. <br>
		※ 출고 처리 중 (상품 포장 및 확인하는) 단계부터는 주소(옵션) 변경 및 취소가 가능하지 않습니다.<br>
    </div>
  </div>
</div>
</div>
 

</div>

</html>