<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   layout:decorate="~{layout/admin_layout}">

<div layout:fragment ="content">
	<style>
		.msg {
			margin-top: -15px;
			font-weight: bold;
			color: #CCD6A6;
			font-size: 0.9rem;
		}
	</style>

	<div class="col-10" style="margin: 0 auto;">
<!-- 		<div class="mb-3">
			<form th:action="@{/admin/memberManage}" method="post">
				<div class="row">
					<div class="offset-7 col-2"  style="padding-right: 0px;">
						<select class="form-select" name="searchType">
							<option value="MEMBER_NICKNAME" th:selected="${memberVO.searchType == 'MEMBER_NICKNAME'}">닉네임</option>
							<option value="MEMBER_ID" th:selected="${memberVO.searchType == 'MEMBER_ID'}">아이디</option>
						</select>
					</div>
					<div class="col-2" style="padding-right: 0px;">
						<input type="text" name="searchValue" th:value="${memberVO.searchValue}" class="form-control">
					</div>
					<div class="col-1">
						<input type="submit" value="검색" class="btn btn-success">
					</div>
				</div>
			</form>
		</div> -->
<!-- 			<div class="col text-start">
				<select class="mb-3 text-start form-select" onchange="changeStatus();"
						id="statusSelectBox" style="width: 12%;">
					<option value="ALL">전체</option>
					<option value="ACTIVE">활동 중인 회원</option>
					<option value="DELETED">탈퇴한 회원</option>
				</select>
			</div> -->
			
		<div class="col mb-3">
			<div class="col mt-3 mb-3 text-center">
				<h4 style="color: green;">MEMBER LIST</h4>
			</div>
			<div class="mb-3">
				<form th:action="@{/admin/memberManage}" method="post">
					<div class="row">
						<div class="col-2">
							<select class="mb-3 text-start form-select" onchange="changeStatus();" id="statusSelectBox">
								<option value="ALL">전체</option>
								<option value="ACTIVE">활동 중인 회원</option>
								<option value="DELETED">탈퇴한 회원</option>
							</select>
						</div>
						<div class="offset-5 col-2"  style="padding-right: 0px;">
							<select class="form-select" name="searchType">
								<option value="MEMBER_NICKNAME" th:selected="${memberVO.searchType == 'MEMBER_NICKNAME'}">닉네임</option>
								<option value="MEMBER_ID" th:selected="${memberVO.searchType == 'MEMBER_ID'}">아이디</option>
							</select>
						</div>
						<div class="col-2" style="padding-right: 0px;">
							<input type="text" name="searchValue" th:value="${memberVO.searchValue}" class="form-control">
						</div>
						<div class="col-1">
							<input type="submit" value="검색" class="btn btn-success">
						</div>
					</div>
				</form>
			</div>
		

			<div class="msg mb-3 text-end">
				*회원 닉네임 클릭시 상세 정보 조회 가능
			</div>
				
			<div class="col" style="padding-right: 15px;">
				<table class="table text-center">
					<colgroup>
						<col width="15%">
						<col width="*">
						<col width="25%">
						<col width="25%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">닉네임(ID)</th>
							<th scope="col">가입일</th>
							<th scope="col">상태</th>
						</tr>
					</thead>
				</table>
			</div>

			<div class="col">
				<div class="row" style="height: 300px; overflow-y: scroll;">
					<table class="table text-center memberListTable">
						<colgroup>
							<col width="15%">
							<col width="*">
							<col width="25%">
							<col width="25%">
						</colgroup>
						<tbody>
							<th:block th:if="${#lists.size(memberList) == 0}">
								<tr>
									<td colspan="4">회원이 없습니다.</td>
								</tr>
							</th:block>
							<th:block th:unless="${#lists.size(memberList) == 0}">
								<tr th:each="member : ${memberList}">
									<td th:text="${memberStat.count}">
										<div><input type="hidden" th:value="${#authentication.name}" id="hiddenId"></div>
									</td>
									<td th:onclick="getMemberDetail([[${member.memberId}]]);">[[${member.memberNickName}]]([[${member.memberId}]])</td>
									<td th:text="${member.regDate}"></td>
									<td>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio"
												th:name="|test_${memberStat.count}|" id="" value=""
												th:checked="${member.memberStatus eq 'ACTIVE'}"
												th:onclick="changeMemberStatus([[${member.memberId}]], 'ACTIVE');">
											<label class="form-check-label" for="">활동 중</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio"
												th:name="|test_${memberStat.count}|" id="" value=""
												th:checked="${member.memberStatus eq 'DELETED'}"
												th:onclick="changeMemberStatus([[${member.memberId}]], 'DELETED');">
											<label class="form-check-label" for="">탈퇴</label>
										</div>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row mt-3">
			<div class="col" id="detailDiv">
				<div class="row">
					<div class="mb-3">
						<회원 상세 정보>
					</div>
				</div>
			</div>
			
			<div class="col" id="reviewDiv">
				<div class="row">
					<div class="mb-3">
						<다른 상점에 남긴 리뷰>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<!-- 리뷰 제목 클릭시 실행되는 Modal -->
	<div class="modal fade" id="reviewDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			 	<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div> 
				<div class="modal-body">
				
					<div class="col-12 detailAjaxDiv">

					</div>

				</div>
			</div>
		</div>
	</div>
	


	<script type="text/javascript">
		 const drawStar = (target) => {
			    document.querySelector(`.star span`).style.width = `${target.value * 10}%`;
			  }
	</script>
	<script type="text/javascript" th:src="@{/js/admin/member_manage.js}"></script>

</div>
</html>
