<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/admin_layout}">

<div layout:fragment ="content">
	<div class="col-10" style="margin: 0 auto;">
		<div class="col">
			<div class="text-end">
				<form th:action="@{/admin/memberManage}" method="post">
					<select name="searchType" style="width: 10%; height: 30px;">
						<option value="MEMBER_NICKNAME" th:selected="${memberVO.searchType == 'MEMBER_NICKNAME'}">닉네임</option>
						<option value="MEMBER_ID" th:selected="${memberVO.searchType == 'MEMBER_ID'}">아이디</option>
					</select>
					<input type="text" name="searchValue" th:value="${memberVO.searchValue}" class="" style="width: 20%">
					<input type="submit" value="검색" class="btn btn-success" style="width: 5%">
				</form>
			</div>
		</div>
		<div class="col mb-3">
			<div class="col mb-3 text-center">
				<h4>MEMBER LIST</h4>
			</div>
			<div class="col text-start">
				<select class="mb-3 text-start" style="width: 15%; height: 30px;">
					<option>전체</option>
					<option>활동중인회원</option>
					<option>탈퇴한회원</option>
				</select>
			</div>
			<div class="col" style="padding-right: 15px;">
				<table class="table text-center">
					<colgroup>
						<col width="10%">
						<col width="*">
						<col width="20%">
						<col width="20%">
						<col width="15%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">닉네임(ID)</th>
							<th scope="col">등급</th>
							<th scope="col">가입일</th>
							<th scope="col">상태</th>
						</tr>
					</thead>
				</table>
			</div>

			<div class="col">
				<div class="row" style="height: 300px; overflow-y: scroll;">
					<table class="table text-center">
						<colgroup>
							<col width="10%">
							<col width="*">
							<col width="20%">
							<col width="20%">
							<col width="15%">
						</colgroup>
						<tbody>
							<th:block th:if="${#lists.size(memberList) == 0}">
								<tr>
									<td colspan="5">회원이 없습니다.</td>
								</tr>
							</th:block>
							<th:block th:unless="${#lists.size(memberList) == 0}">
								<tr th:each="member : ${memberList}">
									<td th:text="${memberStat.count}"></td>
									<td>[[${member.memberNickName}]]([[${member.memberId}]])</td>
									<td>등급</td>
									<td th:text="${member.regDate}"></td>
									<td th:text="${member.memberStatus}"></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		
		
		<div class="row mt-3">
			<div class="col">
				<div class="row">
					<div class="mb-3">
						<회원 상세 정보>
					</div>
					<table class="table text-center">
						<tr>
							<td>이름</td>
							<td>주소</td>
						</tr>
						<tr th:each="member : ${memberList}">
							<td th:text="${member.memberName}"></td>
							<td>[[${member.memberAddr}]] [[${member.addrDetail}]]</td>
						</tr>
						<tr>
							<td>연락처</td>
							<td>이메일</td>
						</tr>
						<tr th:each="member : ${memberList}">
							<td th:text="${member.memberTell}"></td>
							<td th:text="${member.memberEmail}"></td>
						</tr>
					</table>
				</div>
			</div>
			
			<div class="col">
				<div class="row">
					<div class="mb-3">
						<감자마켓 Q&A>
					</div>
					
					<div class="col">
						<table class="table text-center">
							<colgroup>
								<col width="10%">
								<col width="*">
								<col width="30%">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">No</th>
									<th scope="col">제목</th>
									<th scope="col">작성일</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="mb-3">
						<상점 Q&A>
					</div>
				</div>
			</div>
		</div>
		

	</div>
	
	<!-- <script type="text/javascript" th:src="@{/js/admin/member_manage.js}"></script> -->

</div>
</html>
