<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/admin_layout}">

<div layout:fragment ="content">
	<style>
	
	
	</style>
	
	<div class="col">
		<div class="col-10">
			<div class="text-end">
				<select name="searchKeyword" style="width: 10%; height: 30px;">
					<option th:value="${memberNickName}" th:selected="${memberVO.searchKeyword == 'memberNickName'}">닉네임</option>
					<option th:value="${memberId}" th:selected="${memberVO.searchKeyword == 'memberId'}">아이디</option>
				</select>
				<input type="text" name="searchValue" th:value="${memberVO.searchValue}" class="" style="width: 20%">
				<input type="button" value="검색" class="btn btn-success" style="width: 5%">
			</div>
			<div class="text-start">
				<select class="mb-3 text-center" style="width: 15%; height: 30px;">
					<option>전체</option>
					<option>활동중인회원</option>
					<option>탈퇴한회원</option>
				</select>
			</div>
		</div>
		<div class="col">
			<div class="col-10" style="padding-right: 15px;">
				<table class="table text-center">
					<colgroup>
						<col width="10%">
						<col width="*">
						<col width="20%">
						<col width="20%">
						<col width="15%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">닉네임(ID)</th>
							<th scope="col">등급</th>
							<th scope="col">가입일</th>
							<th scope="col">상태</th>
						</tr>
					</thead>
				</table>
			</div>

			<div class="col-10">
				<div class="row" style="height: 300px; overflow-y: scroll;">
					<table class="table text-center">
						<colgroup>
							<col width="10%">
							<col width="*">
							<col width="20%">
							<col width="20%">
							<col width="15%">
						</colgroup>
						<tbody>
							<th:block th:if="${#lists.size(memberList) == 0}">
								<tr>
									<td colspan="5">회원이 없습니다.</td>
								</tr>
							</th:block>
							<th:block th:unless="${#lists.size(memberList) == 0}">
								<tr th:each="member : ${memberList}">
									<td th:text="${memberStat.count}"></td>
									<td th:text="${member.memberNickName}"></td>
									<td>등급</td>
									<td th:text="${member.regDate}"></td>
									<td th:text="${member.memberStatus}"></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="col-10">상세정보</div>
			<div class="col-10">감자마켓 Q&A</div>
			<div class="col-10">상점 Q&A</div>		
		</div>
	</div>
	
	<!-- <script type="text/javascript" th:src="@{/js/admin/member_manage.js}"></script> -->

</div>
</html>
