<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/admin_layout}">
<!-- 삭제미구현 -->
<div layout:fragment ="content">
	<div class="row justify-content mt-5" style="height: 400px;">
		<div class="col-4 border-end" style="height: 500px;overflow-y: scroll">
			<h4>MAIN CATEGORY MANAGE</h4>
			<div>
				<form th:action="@{/admin/cateInsert}" method="post" class="input-group mb-3">
					<input type="text" class="form-control inputCateName" aria-describedby="button-addon2" name="cateName">
					<button class="btn btn-secondary" type="button"	id="button-addon2" th:onclick="mainCate(this);" data-cate="main">등록</button>
				</form>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">
							 <input onclick="mainCheckAll();" id="mainCbox" class="form-check-input" type="checkbox" value="">
						</th>
						<th scope="col" class="text-center">No.</th>
						<th scope="col">Code</th>
						<th scope="col">Name</th>
						<th scope="col">Usable</th>
					</tr>
				</thead>
				<tbody class="table-group-divider" id="mainCateList">
					<tr th:if="${#lists.size(mainCateList)}==0">
						<td class="mainCountList">1</td>
						<td colspan="4" class="text-center noneText">등록된 카테고리가 없습니다.</td>
					</tr>
					<tr th:unless="${#lists.size(mainCateList)}==0" th:each="mainCate:${mainCateList}">
						<td><input class="form-check-input" name="mainCbox" type="checkbox" value=""></td>
						<td class="text-center mainCountList" th:text="${mainCateStat.count}"></td>
						<td class="noneText" th:text="${mainCate.mainCateCode}"></td>
						<td th:text="${mainCate.mainCateName}"></td>
						<td th:text="${mainCate.cateStatus}">
						</td>
					</tr>
				</tbody>			</table>
			<div align="center">
				<input type="button" class="btn btn-danger" value="삭제">
			</div>
		</div>
		<div class="col-4 border-end" style="height: 500px;overflow-y: scroll">
			<h4>SUB CATEGORY MANAGE</h4>
			<div>
				<form th:action="@{/admin/cateInsert}" method="post" class="input-group mb-3">
					<select id="subCateSelect" class="form-select border" aria-expanded="false" style="padding-top: 10px;flex: .3;">
						<option value="not" selected>선택</option>
						<th:block th:each="mainCate:${mainCateList}">
							<option class="mainCateCodeList" th:value="${mainCate.mainCateCode}">[[${mainCate.mainCateName}]]</option>
						</th:block>
					</select>
					<input type="text" class="form-control inputCateName" aria-describedby="button-addon2" name="cateName">
					<button class="btn btn-secondary" type="button"	id="button-addon2" th:onclick="subCate(this);" data-cate="sub">등록</button>
				</form>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">
							 <input onclick="subCheckAll();" id="subCbox" class="form-check-input" type="checkbox" value="">
						</th>
						<th scope="col" class="text-center">No.</th>
						<th scope="col">Code</th>
						<th scope="col">SubName</th>
						<th scope="col">MainName</th>
					</tr>
				</thead>
				<tbody class="table-group-divider" id="subCateList">
					<tr th:if="${#lists.size(subCateList)}==0">
						<td class="subCountList">1</td>
						<td colspan="4" class="text-center noneText">등록된 카테고리가 없습니다.</td>
					</tr>
					<tr th:unless="${#lists.size(subCateList)}==0" th:each="subCate:${subCateList}">
						<td><input class="form-check-input" type="checkbox" name="subCbox" value=""></td>
						<td class="text-center subCountList" th:text="${subCateStat.count}"></td>
						<td class="noneText" th:text="${subCate.subCateCode}"></td>
						<td th:text="${subCate.subCateName}"></td>
						<td th:text="${subCate.mainCateVO.mainCateName}"></td>
					</tr>
				</tbody>			</table>
			<div align="center">
				<input type="button" class="btn btn-danger" value="삭제">
			</div>
		</div>
		<div class="col-4" style="height: 500px;overflow-y: scroll">
			<h4>DETAIL CATEGORY MANAGE</h4>
			<div>
				<form th:action="@{/admin/cateInsert}" method="post" class="input-group mb-3">
					<select id="detailCateSelect" class="form-select border" aria-expanded="false" style="padding-top: 10px;flex: .3;">
						<option selected value="not">선택</option>
					</select>
					<input type="text" class="form-control inputCateName" aria-describedby="button-addon2" name="cateName">
					<button class="btn btn-secondary" type="button"	id="button-addon2" th:onclick="detailCate(this);" data-cate="">등록</button>
				</form>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">
							 <input onclick="detailCheckAll();" id="detailCbox" class="form-check-input" type="checkbox" value="">
						</th>
						<th scope="col" class="text-center">No.</th>
						<th scope="col">Code</th>
						<th scope="col">DetailName</th>
						<th scope="col">SubName</th>
					</tr>
				</thead>
				<tbody class="table-group-divider" id="detailCateList">
					<tr th:if="${#lists.size(detailCateList)}==0">
						<td class="detailCountList">1</td>
						<td colspan="4" class="text-center noneText">등록된 카테고리가 없습니다.</td>
					</tr>
					<tr th:unless="${#lists.size(detailCateList)}==0" th:each="detailCate:${detailCateList}" >
						<td><input class="form-check-input" type="checkbox" name="detailCbox" value=""></td>
						<td class="text-center detailCountList" th:text="${detailCateStat.count}"></td>
						<td class="noneText" th:text="${detailCate.detailCateCode}"></td>
						<td th:text="${detailCate.detailCateName}"></td>
						<td th:text="${detailCate.subCateVO.subCateName}"></td>
					</tr>
				</tbody>
			</table>
			<div align="center">
				<input type="button" class="btn btn-danger" value="삭제">
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/admin/reg_cate_form.js}"></script>
</div>
</html>
